<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2010-2012 by PHP-maven.org

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
	<properties>
		<title>Maven for PHP - The official repository</title>
		<author email="mep_eisen@web.de">Martin Eisengardt</author>
	</properties>
	
	<head>
		<title>Maven for PHP - The official repository</title>
		<meta name="keyword" content="apache, maven, php, php-maven, maven tutorial, php maven tutorial, maven company, php company, php commercial, php hosting, maven hosting, project hosting, project support" />		
	</head>
	
	<body>
	
		<p style="text-align:center">[ <a href="tut-xworldsrepos-closedsource.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-xworldsrepos-search.html">Next</a> ]</p>
		
		<section name="Preamble">
		<p><b>NOTE: The official repository is available in a later version. If you want to share your work or get support for your company please <a href="mailto:martin.eisengardt@googlemail.com?subject=Repository access">contact us directly</a>.</b></p>
		
		<p>
		We provide company solutions.
		</p>
		
		<!-- <p>TODO Screenshots</p> -->
		</section>
		
		<section name="features">
		<ul>
		<li>Your own private repository</li>
		<li>Get the full control who is seeing and using the repository</li>
		<li>Hands-on-support from the PHP-Maven people</li>
		<li>24-7 telephone support</li>
		<li>Let your bugs and wishes get a higher priority</li>
		<li>Privacy guaranteed</li>
		<li>Setup a good licensing system</li>
		</ul>
		</section>
		
		<section name="How to get it?">
		<p>
		First of all you should <a href="mailto:martin.eisengardt@googlemail.com">contact us directly</a>. Explain what you need and we will
		send you a good offer.
		</p>
		</section>
		
		<p style="text-align:center">[ <a href="tut-xworldsrepos-closedsource.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-xworldsrepos-search.html">Next</a> ]</p>
		
</body>
</document>