<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2010-2012 by PHP-maven.org

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
	<properties>
		<title>About us</title>
		<author email="christian.wiedemann@key-tec.de">Christian Wiedemann</author>
		<author email="martin.eisengardt@googlemail.com">Martin Eisengardt</author>
	</properties>
	
	<body>

<section name="About us">

<p>
  Responsible for the content (current developer lead):<br></br>
  Martin Eisengardt<br></br>
  Schuetzenstrasse 1<br></br>
  76327 Pfinztal<br></br>
  - Germany -
</p>

<p>
  You can use the following email address to contact the php-maven team:<br></br>
  <a href="mailto:info@php-maven.org">info@php-maven.org</a>.
  However: Please do not spam. Thanks.
</p>

<p>
  You can choose to contact a single team member. Visit the <a href="team-list.html">team</a> site.
</p>

</section>

<section name="Disclaimer">
<p>
  Although we check some of the commits and links we are not responsible for any link that is leading to a location
  outside the php-maven domains. There is no warranty for php-maven to work correctly. However if you need some
  additional warranty please <a href="support.html">contact us</a>. We are only responsible for our own modules,
  located at maven group id &quot;org.phpmaven&quot;. All other modules are maintained by external persons and we call
  them third party modules. If there is any problem related to third party modules you should inform us and you
  must always contact the original module author. You must not send us any claim for compensation if there
  are problems with third party modules. After sending us a proof of conflicts we will take the third party module
  offline.
</p>
</section>

<section name="Cookies">
<p>
  We are using google site analytics that may use cookies. See the google guidelines for details. The site analytics helps
  us to measure some useful metrics on our web site. Notice: The data will be anonym. There is no way to us getting details
  on your person. The website may place a session cookie to identify you after login or to identify you as an anonymous (guest)
  user. As long as you do not login you will be always anonymous for us.
</p>
</section>

<section name="Copyright">
<p>
If not quoted otherwise all sites and sources are in copyright of PHP-Maven. You must not use them except under terms of the
<a href="license.html">apache license</a>. Only PHP-Maven is allowed to use another license on the website and software (dual-license-model).
</p>
</section>

<section name="Other information">
<p>
  Taxes are payed in Germany. Legal form is German GbR.
</p>
</section>
</body>
</document>