<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2010-2012 by PHP-maven.org

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
	<properties>
		<title>Downloads</title>
		<author email="christian.wiedemann@key-tec.de">Christian Wiedemann</author>
		<author email="martin.eisengardt@googlemail.com">Martin Eisengardt</author>
	</properties>
	
	<head>
		<title>Downloads</title>
		<meta name="keyword" content="apache, maven, php, download, downloads, php library, php libraries, php tools" />
	</head>
	
	<body>

<section name="Downloads">

<p>
  So where to get php maven and the libraries? We recommend to receive it via maven itself.
  See the <a href="install.html">installation details</a>.
</p>

<p>
  However you may browse it manually: <a href="${phpmavenReposReleasesUrl}/org/phpmaven/maven-php-plugin">${phpmavenReposReleasesUrl}</a>.
</p>

<p>
  Another way is to visit: <a href="http://nexus.php-maven.org">the nexus</a>. This is our repository server that not only contains
  PHP-Maven but ten thousands of well known projects and php libraries. All of them downloadable or usable by your PHP-Maven project.
</p>

</section>

<section name="Direct links">
  <subsection name="Latest release ${phpmavenLatestRelease}">
  <ul>
    <li><a href="${phpmavenRootUrl}/tags/${phpmavenLatestRelease}/index.html">Overview</a></li>
    <li><a href="${phpmavenRootUrl}/tags/${phpmavenLatestRelease}/tutorials.html">Tutorials</a></li>
    <li><a href="${phpmavenRootUrl}/tags/${phpmavenLatestRelease}/reports.html">Reports</a></li>
    <li><a href="${phpmavenRootUrl}/tags/${phpmavenLatestRelease}/javadoc.html">Javadoc</a></li>
    <li><a href="${phpmavenRootUrl}/tags/${phpmavenLatestRelease}/sources.html">Sources</a></li>
  </ul>
  </subsection>
  <subsection name="Latest snapshot ${phpmavenLatestSnapshot}">
  <ul>
    <li><a href="${phpmavenRootUrl}/branches/${phpmavenLatestSnapshot}/index.html">Overview</a></li>
    <li><a href="${phpmavenRootUrl}/branches/${phpmavenLatestSnapshot}/tutorials.html">Tutorials</a></li>
    <li><a href="${phpmavenRootUrl}/branches/${phpmavenLatestSnapshot}/reports.html">Reports</a></li>
    <li><a href="${phpmavenRootUrl}/branches/${phpmavenLatestSnapshot}/javadoc.html">Javadoc</a></li>
    <li><a href="${phpmavenRootUrl}/branches/${phpmavenLatestSnapshot}/sources.html">Sources</a></li>
  </ul>
  </subsection>
  <subsection name="Archive">
  <ul>
    <li><a href="${phpmavenRootUrl}/tags">All released versions (&gt;= 2.0)</a></li>
    <li><a href="${phpmavenRootUrl}/branches">Active branches (&gt;= 2.0)</a></li>
  </ul>
  </subsection>
</section>
</body>
</document>