<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2010-2012 by PHP-maven.org

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
	<properties>
		<title>Licenses</title>
		<author email="christian.wiedemann@key-tec.de">Christian Wiedemann</author>
		<author email="martin.eisengardt@googlemail.com">Martin Eisengardt</author>
	</properties>
	
	<head>
		<title>Installation</title>
		<meta name="keyword" content="apache, maven, php, install, installation"></meta>
	</head>
	
	<body>

<section name="Overview">

<p>Typically the licenses listed for the project are that of the project itself, and not of dependencies.</p>

</section>

<section name="Project License">
<subsection name="Apache License Version 2.0, January 2004">
<p><a href="http://www.apache.org/licenses/">[Original text]</a></p>
<p>Copy of the license follows.</p>

    <div id="page" class="container_16">
      <div id="header" class="grid_8">
        <img src="http://www.apache.org/images/feather-small.gif" alt="The Apache Software Foundation" />
        <h1>PHP-Maven, powered by Apache Maven</h1>
        <h2>Licenses</h2>
      </div>
      <div class="clear"></div>
      <div id="content" class="grid_16">
      <div class="section-content">
      	<p>To be compatible to the Apache license we are using PHP-Maven uses various licenses taken from Apache software Foundation.
      	<a href="#distributions">distribute software and documentation</a>, to accept regular <a href="#clas">contributions from individuals and corporations</a>,
      	and to accept larger <a href="#grants">grants of existing software products</a>.
      	</p>
      	
      	<p>These licenses help us achieve our goal of providing reliable and
      	long-lived software products through collaborative open source software
      	development. In all cases, contributors retain full rights to use their
      	original contributions for any other purpose outside of PHP-Maven while
      	providing PHP-Maven and its projects the right to distribute and build upon
      	their work within PHP-Maven.</p>
      	
      	<h1>Licensing of Distributions</h1>
      	<p>All software produced by The PHP-Maven or any of its projects or
      	subjects is licensed according to the terms of the documents listed
      	below.</p>
      	
		<h2>Apache License, Version 2.0 (current)</h2>
		<p><a href="http://www.apache.org/licenses/LICENSE-2.0">http://www.apache.org/licenses/LICENSE-2.0</a>
		(<a href="http://www.apache.org/licenses/LICENSE-2.0.txt">TXT</a> or <a href="http://www.apache.org/licenses/LICENSE-2.0.html">HTML</a> )</p>
		
		<p>The 2.0 version of the Apache License was approved by the ASF in 2004. The
		goals of this license revision have been to reduce the number of frequently
		asked questions, to allow the license to be reusable without modification
		by any project (including non-ASF projects), to allow the license to be
		included by reference instead of listed in every file, to clarify the
		license on submission of contributions, to require a patent license on
		contributions that necessarily infringe the contributor's own patents, and
		to move comments regarding Apache and other inherited attribution notices
		to a location outside the license terms (the <a href="http://www.apache.org/licenses/example-NOTICE.txt">NOTICE file</a> ).</p>
		
		<p>The result is a license that is supposed to be compatible with other open
		source licenses, while remaining true to the original goals of the Apache
		Group and supportive of collaborative development across both nonprofit and
		commercial organizations. The Apache Software Foundation is still trying to
		determine if this version of the Apache License is <a href="http://www.apache.org/licenses/GPL-compatibility.html">compatible with the GPL</a>.</p>
		
		<p>All packages produced by PHP-Maven are implicitly licensed under the Apache
		License, Version 2.0, unless otherwise explicitly stated. More developer
		documentation on how to apply the Apache License to your work can be found
		in * <a href="http://www.apache.org/licenses/../dev/apply-license.html">Applying the Apache License, Version 2.0</a> *.</p>
		
		<h1>Contributor License Agreements</h1>
		
		<p>PHP-Maven desires that all contributors of ideas, code, or documentation to
		the PHP-Maven projects complete, sign, and submit (via postal mail, fax or email)
		an <a href="icla.txt">Individual Contributor License Agreement</a> (CLA) [
		<a href="icla.pdf">PDF form</a> ]. The purpose of this agreement is to clearly
		define the terms under which intellectual property has been contributed to PHP-Maven and
		thereby allow us to defend the project should there be a legal dispute
		regarding the software at some future time. A signed CLA is required to be
		on file before an individual is given commit rights to a PHP-Maven project.</p>
		
		<p>For a corporation that has assigned employees to work on an PHP-Maven project,
		a <a href="cla-corporate.txt">Corporate CLA</a> (CCLA) is available for contributing
		intellectual property via the corporation, that may have been assigned as
		part of an employment agreement. Note that a Corporate CLA does not remove
		the need for every developer to sign their own CLA as an individual, to
		cover any of their contributions which are not owned by the corporation
		signing the CCLA.</p>
		
		<p>You can fill out the pdf document or edit the text document, create a detached
		gpg signature, and send both the document and the detached signature via email to
		<a href="mailto:cla@php-maven.org">cla@php-maven.org</a>.</p>
		
		<h1 id="grants">Software Grants</h1>
		
		<p>When an individual or corporation decides to donate a body of existing
		software or documentation to one of the PHP-Maven projects, they need to
		execute a formal <a href="software-grant.txt">Software Grant Agreement</a> (SGA) with
		PHP-Maven. Typically, this is done after negotiating approval with PHP-Maven
		<a href="http://incubator.php-maven.org.org/">Incubator</a> or one of the PMCs,
		since PHP-Maven will not accept software unless there is a viable community available to
		support a collaborative project.</p>
		
		<p>Grants may be submitted by emailing a scan of the signed copy to <a href="mailto:cla@php-maven.org">cla@php-maven.org</a>.
		</p>
		
		<h1 id="crypto">Export restrictions</h1>
		<p>For export restriction information, please consult the <a href="http://www.apache.org/licenses/exports/">ASF Export
		Classifications</a> page.</p>
		
		<h1 id="trademarks">Trademark and Logo Usage</h1>
		<!-- TODO PHP-Maven trademarks -->
		<p>For ASF trademark and logo usage information, please consult the <a href="http://www.apache.org/foundation/marks/trademarks.html">ASF
		Trademark Use Policy</a> page.</p>
		
	</div></div></div>
</subsection></section>
</body></document>