<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2010-2012 by PHP-maven.org

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
	<properties>
		<title>Feeds</title>
		<author email="martin.eisengardt@googlemail.com">Martin Eisengardt</author>
	</properties>
	
	<head>
		<title>Feeds</title>
		<meta name="keyword" content="apache, maven, php, news, feed" />
	</head>
	
	<body>

<section name="Feeds">

<p>
  There are various feeds you can subscribe. You can use them to get the latest news.
</p>

<p>
  <b><a href="http://www.php-maven.org/rss.xml">Website Feed (RSS)</a></b>: Will report new version tags, will contain the latest major changes in
  documentation and major project news.
</p>

<p>
  <b><a href="https://groups.google.com/group/maven-for-php/feed/rss_v2_0_msgs.xml">Google groups messages (RSS)</a></b>: Will contain the newest 15
  posts at the google group.
</p>

<p>
  <b><a href="https://groups.google.com/group/maven-for-php/feed/rss_v2_0_topics.xml">Google groups topics (RSS)</a></b>: Will contain the newest 15
  topics at the google group.
</p>

<p>
  <b><a href="https://github.com/php-maven/maven-php-plugin/commits/master.atom">Source commits (Atom)</a></b>: Will contain the source code commits.
</p>

</section>
</body>
</document>