<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2010-2012 by PHP-maven.org

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
	<properties>
		<title>Maven for PHP company support</title>
		
		<author email="martin.eisengardt@googlemail.com">Martin Eisengardt</author>

	</properties>
	
	<body>

<section name="CLOSE-SOURCE support">
<p>Not all problems can be solved by the community. You may choose to not publish your projects as open sourced for strategical reasons.
So how do you get support?</p>

<p>You can email us at <a href="mailto:support@php-maven.org?subject=issue">support@php-maven.org</a>. We ensure that the contents of the issue and
every script you are sending is not published. As soon as your issue is solved we will mark the whole data and conversation for deletion. Within two
weeks we will delete everything. This deletion is guaranteed by European and German data security regulations.</p>

<p>For this email support we do not guarantee any response time nor a full solution (similar to the support for open source projects in the google
forums).</p>
</section>

<section name="Company support">
<p>You are always allowed to use php-maven within your company. Especially for commercial projects we provide both, a special licensing model
and a professional support. What are the benefits?</p>

<ul>
<li>fast responses</li>
<li>telephone hotline</li>
<li>hands-on-support</li>
<li>higher priorities of your bugs and feature requests</li>
</ul>

<p>And the costs? See the following table. At the end of the table you will find an email link.<br />Hint: Do you want to outsource production of
your projects? See <a href="http://www.xworlds.eu">www.xworlds.eu</a> for details.</p>

<p>Read <a href="support-terms.html">the support terms</a> for details.</p>

<!-- ok icon taken from http://www.iconarchive.com/show/crystal-clear-icons-by-everaldo/Action-ok-icon.html
author: everaldo, GNU LGPL, commercial usage allowed
 -->
<table border="0" cellspacing="2" width="100%">
<tr>
	<th style="border-bottom: 1px solid black;">&nbsp;</th>
	<th style="border-bottom: 1px solid black; border-left: 1px solid black;">basic</th>
	<th style="border-bottom: 1px solid black; border-left: 1px solid black;">premium</th>
	<th style="border-bottom: 1px solid black; border-left: 1px solid black;">gold</th>
</tr>
<tr>
	<td style="border-bottom: 1px solid black;">max. 24h response time</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center"><img src="images/Action-ok-icon.png" /></td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center"><img src="images/Action-ok-icon.png" /></td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center"><img src="images/Action-ok-icon.png" /></td>
</tr>
<tr>
	<td style="border-bottom: 1px solid black;">high priority for bugs and feature requests</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center"><img src="images/Action-ok-icon.png" /></td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center"><img src="images/Action-ok-icon.png" /></td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center"><img src="images/Action-ok-icon.png" /></td>
</tr>
<tr>
	<td style="border-bottom: 1px solid black;">confidentiality clause</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center"><img src="images/Action-ok-icon.png" /></td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center"><img src="images/Action-ok-icon.png" /></td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center"><img src="images/Action-ok-icon.png" /></td>
</tr>
<tr>
	<td style="border-bottom: 1px solid black;">hands on support</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">&nbsp;</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center"><img src="images/Action-ok-icon.png" /></td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center"><img src="images/Action-ok-icon.png" /></td>
</tr>
<tr>
	<td style="border-bottom: 1px solid black;">contact from your licensed customers</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">&nbsp;</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">&nbsp;</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center"><img src="images/Action-ok-icon.png" /></td>
</tr>
<tr>
	<td style="border-bottom: 1px solid black;">telephone support</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">&nbsp;</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">&nbsp;</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center"><img src="images/Action-ok-icon.png" /></td>
</tr>
<tr>
	<td style="border-bottom: 1px solid black;">operation time</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">12Hrs/Day<br />Mon-Fri</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">12Hrs/Day<br />Mon-Fri</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">24Hrs/Day<br />7Days/Wk<br />365Days/Yr</td>
</tr>
<tr>
	<td style="border-bottom: 1px solid black;">hands on support</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">&nbsp;</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">5Hrs/Month</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">45Hrs/Month</td>
</tr>
<tr>
	<td style="border-bottom: 1px solid black;">max number of contacts (your admins/developers)</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">2</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">10</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">unlimited (everyone in your company)</td>
</tr>
<tr>
	<td style="border-bottom: 1px solid black;">ETA prio 1 incident</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">24h response time<br />3 days/solution or workaround</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">24h response time<br />2 days/solution or workaround</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">12h response time<br />2 days/solution or workaround</td>
</tr>
<tr>
	<td style="border-bottom: 1px solid black;">max number of prio 1 requests per week</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">5</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">10</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">100</td>
</tr>
<tr>
	<td style="border-bottom: 1px solid black;">ETA prio 2 incident</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">24h response time<br />5 days/solution or workaround</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">24h response time<br />5 days/solution or workaround</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">12h response time<br />3 days/solution or workaround</td>
</tr>
<tr>
	<td style="border-bottom: 1px solid black;">max number of prio 2 requests per week</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">50</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">unlimited</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">unlimited</td>
</tr>
<tr>
	<td style="border-bottom: 1px solid black;">ETA prio 3 incident</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">24h response time<br />20 days/solution or workaround</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">24h response time<br />20 days/solution or workaround</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">12h response time<br />10 days/solution or workaround</td>
</tr>
<tr>
	<td style="border-bottom: 1px solid black;">max number of prio 3 requests per week</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">unlimited</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">unlimited</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">unlimited</td>
</tr>
<tr>
	<td style="border-bottom: 1px solid black;">costs</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">99 EUR/month</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">399 EUR/month</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">999 EUR/month</td>
</tr>
<tr>
	<td style="border-bottom: 1px solid black;">period</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">1 year</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">6 months</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center">6 months</td>
</tr>
<tr>
	<td style="border-bottom: 1px solid black;">&nbsp;</td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center"><a href="mailto:support-cs@php-maven.org?subject=basic+support+request">contact</a></td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center"><a href="mailto:support-cs@php-maven.org?subject=premium+support+request">contact</a></td>
		<td style="border-bottom: 1px solid black; border-left: 1px solid black;" align="center"><a href="mailto:support-cs@php-maven.org?subject=gold+support+request">contact</a></td>
</tr>
</table>

</section>
</body>
</document>