<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2010-2012 by PHP-maven.org

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
	<properties>
		<title>Usage</title>
		
		<author email="christian.wiedemann@key-tec.de">Christian Wiedemann</author>
		<author email="martin.eisengardt@googlemail.com">Martin Eisengardt</author>
	</properties>
	
	<head>
		<title>Usage</title>
		<meta name="keyword" content="apache, maven, php, usage, configuration, pom, option, options, customization, custom, manipulate" />
	</head>
	
	<body>

<section name="Usage">

<p>
  For those already being familiar with maven: Nothing changed. :-)
</p>

<p>
  If you are not familiar with maven (We think many of php developers do not yet have maven experience):
  The most important command at command line is &quot;mvn&quot;. It tells maven that you got something to do.
  You will have to invoke it at your projects root directory (the place where the pom.xml file is located).
  We are explaining it in the <a href="${phpmavenRootUrl}/branches/${phpmavenLatestSnapshot}/tutorials.html">tutorials section</a>.
</p>

<p>
  Why do we link it? The configuration and usage may change during the versions lifecycle. So you should always refer to a special
  version number. The latest snapshot release can always be reached through the menu bar at the left. There you will see a link named
  "all tutorials". You may visit the <a href="downloads.html">downloads page</a> too. There you will find various links as well as
  an archive. Links to tagged versions can always be bookmarked. They won't change. Snapshot links may be removed one day if a branch
  runs out of service.
</p>

</section>
</body>
</document>