<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.dltk.core.buildpathContainerInitializer">
      <buildpathContainerInitializer
            class="org.phpmaven.eclipse.core.build.Initializer"
            id="org.phpmaven.eclipse.core.MAVEN_INCLUSIONS">
      </buildpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.m2e.core.mavenProjectChangedListeners">
      <listener
            class="org.phpmaven.eclipse.core.build.MavenProjectChangedListener">
      </listener>
   </extension>
   <extension
         id="mavenBuilder"
         name="PhpMaven Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.phpmaven.eclipse.core.builder.MavenBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="phpMavenNature"
         name="PhpMaven Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.phpmaven.eclipse.core.builder.PhpMavenNature">
         </run>
      </runtime>
      <builder
            id="org.phpmaven.eclipse.core.mavenBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>
   <extension
         id="org.phpmaven.eclipse.core.markers.coverage"
         name="PHP Code coverage markers"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="false">
      </persistent>
      <attribute
            name="state">
      </attribute>
      <attribute
            name="percentage">
      </attribute>
      <attribute
            name="calls">
      </attribute>
      <attribute
            name="location">
      </attribute>
   </extension>
   <extension
         id="org.phpmaven.eclipse.core.markers.coverageOK"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.phpmaven.eclipse.core.markers.coverage">
      </super>
   </extension>
   <extension
         id="org.phpmaven.eclipse.core.markers.coverageNONE"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.phpmaven.eclipse.core.markers.coverage">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerUpdaters">
      <updater
            class="org.phpmaven.eclipse.core.internal.phpunit.MarkerUpdater"
            id="org.phpmaven.eclipse.core.markers.coverageUpdater"
            markerType="org.phpmaven.eclipse.core.markers.coverage">
      </updater>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="org.phpmaven.eclipse.core.markers.coverageOK"
            name="org.phpmaven.eclipse.core.markers.coverageOKAnnotation">
      </type>
      <type
            markerType="org.phpmaven.eclipse.core.markers.coverageNONE"
            name="org.phpmaven.eclipse.core.markers.coverageNONEAnnotation">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.phpmaven.eclipse.core.markers.coverageOKAnnotation"
            label="PHP Code Coverage annotation (line executed)"
            colorPreferenceValue="0,255,0"
            colorPreferenceKey="coverageOKColor"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="OKisChangeGoToPreviousNavigationTarget"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="OKisChangeGoToNextNavigationTarget"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="OKshowChangeInNextPrevDropdownToolbarAction"
            contributesToHeader="false"
            overviewRulerPreferenceValue="true"
            overviewRulerPreferenceKey="OKinOverviewRuler"
            presentationLayer="4"
            textPreferenceValue="true"
            textPreferenceKey="OKtext"
            verticalRulerPreferenceKey="OKinVerticalRuler"
            verticalRulerPreferenceValue="true"
            includeOnPreferencePage="true"
            textStylePreferenceKey="OKtextStyles"
            textStylePreferenceValue="NONE"
            highlightPreferenceKey="OKhighlite"
            highlightPreferenceValue="true"
			>
		</specification>
       <specification annotationType="org.phpmaven.eclipse.core.markers.coverageNONEAnnotation"
			label="PHP Code Coverage annotation (line failed)"
            colorPreferenceValue="255,0,0"
            colorPreferenceKey="coverageNONEColor"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="NONEisChangeGoToPreviousNavigationTarget"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="NONEisChangeGoToNextNavigationTarget"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="NONEshowChangeInNextPrevDropdownToolbarAction"
            contributesToHeader="false"
            overviewRulerPreferenceValue="true"
            overviewRulerPreferenceKey="NONEinOverviewRuler"
            presentationLayer="4"
            textPreferenceValue="true"
            textPreferenceKey="NONEtext"
            verticalRulerPreferenceKey="NONEinVerticalRuler"
            verticalRulerPreferenceValue="true"
            includeOnPreferencePage="true"
            textStylePreferenceKey="NONEtextStyles"
            textStylePreferenceValue="NONE"
            highlightPreferenceKey="NONEhighlite"
            highlightPreferenceValue="true"
			>
		</specification>
   </extension>

</plugin>
