<?xml version="1.0" encoding="UTF-8"?>
<document>
	<properties>
		<author email="mep_eisen@web.de">
			Martin Eisengardt
		</author>

		<title>${phpmavenTagName} Index</title>
		<meta name="keyword" content="apache, maven, php, tutorials"></meta>
	</properties>
	
	<body>

	<section name="${phpmavenTagName} Index">
	<ul>
	<li><a href="php-lib-5min.html">Library project (quickstart)</a></li>
	<li><a href="php-web-5min.html">Web project (quickstart)</a></li>
	<li><a href="tutorials.html">Tutorials</a></li>
	</ul>
	</section>
</body>
</document>