<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2010-2012 by PHP-maven.org

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
	<properties>
		<title>Maven for PHP - Setup hudson CI</title>
		<author email="martin.eisengardt@googlemail.com">Martin Eisengardt</author>
	</properties>
	
	<head>
		<title>Maven for PHP - Setup hudson CI</title>
		<meta name="keyword" content="apache, maven, php, php-maven, maven tutorial, php maven tutorial, project organization, multi project, php modules, phar modules" />		
	</head>
	
	<body>
		<p style="text-align:center">[ <a href="tut-setup-nexus.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-usingeclipse.html">Next</a> ]</p>
		
		<section name="Setup a hudson/jenkins CI">
		<p>
		Setting up hudson or jenkins is well exmplained at <a href="http://jenkins-ci.org/">http://jenkins-ci.org/</a>. After setting up a working
		hudson you do not need any additional setup. The most important task is to allow jenkins to execute maven projects and to setup jenkins
		to find the php-maven repository (or you local nexus mirror) and to find the php executable on PATH variable. Thus you may need to create
		a local settings.xml file. Notice: You need not access to ~/.m2/settings.xml. You can specify an alternative location in the
		build settings on your local project.
		</p>
		<p>
		PHP-maven projects are not special in any meaning. However usage of some existing jenkins features may require additional setup.
		</p>
		</section>
		
		<section name="Activating clover report">
		<p>
		Edit your pom.xml and add the configuration of the maven-php-plugin within the maven-site-plugin. Set configuration option "outputClover" to true.
		The "mvn site" goal will know produce a clover xml file. This file can be used by some jenkins plugins.
		</p>
		</section>
		
		<p style="text-align:center">[ <a href="tut-setup-nexus.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-usingeclipse.html">Next</a> ]</p>
	</body>
</document>