<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2010-2012 by PHP-maven.org

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
	<properties>
		<title>Maven for PHP - Create documentation</title>

		<author email="christian.wiedemann@key-tec.de"> 
			Christian Wiedemann
		</author>
	</properties>
	
	<head>
		<title>Maven for PHP - Create documentation</title>
		<meta name="keyword" content="apache, maven, php, php-maven, maven tutorial, php maven tutorial" />		
	</head>
	
	<body>
		<p style="text-align:center">[ <a href="tut-simpletest.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-features.html">Next</a> ]</p>

		<section name="Create documentation for your project">
		<p>To create a documentation simply run:</p>

			<macro name="snippet">
				<param name="id" value="doxygen"></param>
				<param name="file" value="${phpmavenFsRoot}/src/site/include/pom.xml"></param>
			</macro>
			
			<source>mvn site</source>

			<p>Following documentations will be created.</p>
		<subsection name="PHPDocumentor">
		<p>
				&quot;PHP for Maven&quot; extends the Maven default documentation
				by adding a phpdocumentor goal. 
			</p>

			<subsection name="What happened?">
				<p>PHPDocumentor:</p>
				<p>Through the phpdocumentor goal, an api doc is created. The phpdocumnetor
				configuration file must be located under
				src/site/phpdoc/phpdoc.conf. The following parameters
				of the phpdoc.conf will be replaced by the plugin.</p>
				<source>
directory 
target 
				</source>
			</subsection>
			</subsection>
		</section>
		
		<p style="text-align:center">[ <a href="tut-simpletest.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-features.html">Next</a> ]</p>
	</body>
</document>