<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2010-2012 by PHP-maven.org

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
	<properties>
		<title>Maven for PHP - The official repository</title>
		<author email="mep_eisen@web.de">Martin Eisengardt</author>
	</properties>
	
	<head>
		<title>Maven for PHP - The official repository</title>
		<meta name="keyword" content="apache, maven, php, php-maven, maven tutorial, php maven tutorial, php repository, php download, php downloads, maven repository, maven download, maven downloads" />		
	</head>
	
	<body>
	
		<p style="text-align:center">[ <a href="tut-xworldsrepos-organization.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-xworldsrepos-ci.html">Next</a> ]</p>
		
		<section name="Preamble">
		<p><b>NOTE: The official repository is available in a later version. If you want to share your work or get support for your company please <a href="mailto:martin.eisengardt@googlemail.com?subject=Repository access">contact us directly</a>.</b></p>
		
		<p>
		Hosting and deploying open source projects is easy. However you will notice that there are some validations we run. Without these validations you are not allowed
		to deploy.
		</p>
		
		<!-- <p>TODO Screenshots</p> -->
		</section>
		
		<section name="Configure deployment">
		<p>
		If your are using the org.phpmaven:php-parent-pom as your favorite parent pom you need not configure the repository deployment. If you are using your
		own parent-pom you must add the fowllowing to your pom.xml.:
		</p>
		<source>
	<build>
	    <extensions>
			<extension>
				<groupId>org.apache.maven.wagon</groupId>
				<artifactId>wagon-webdav-jackrabbit</artifactId>
				<version>2.0</version>
			</extension>
			<extension>
				<groupId>org.apache.maven.wagon</groupId>
				<artifactId>wagon-ftp</artifactId>
				<version>2.0</version>
			</extension>
		</extensions>
	</build>
    <distributionManagement>
        <repository>
            <id>upload-releases-php-maven-org</id>
            <name>Official PHP-Maven Releases</name>
            <url>http://repos.php-maven.org/releases</url>
        </repository>
        <snapshotRepository>
            <id>upload-snapshots-php-maven-org</id>
            <name>Official PHP-Maven Snapshots</name>
            <url>http://repos.php-maven.org/snapshots</url>
        </snapshotRepository>
    </distributionManagement>
		</source>
		<p>
		If you host the website at xworlds you may add the following to deploy the site:
<source>
    <distributionManagement>
        <site>
            <id>upload-org-mydomain</id>
            <name>Mydomain</name>
            <url>ftp://ftp.mydomain.org/www.mydomain.org/somepath</url>
        </site>
    </distributionManagement>
</source>
		</p>
		<p>
		After setting up your pom you need maven to tell your username and password. This is usually NEVER made in the pom. But use your settings.xml
		within the users porifle path: ~/.m2/settings.xml
<source>
  <servers>
      <!-- Server definitions (username/password pairs) -->
	
	  <!-- ***** php-maven deployment to xworlds.org ***** -->
	  <server>
	  	<id>upload-releases-php-maven-org</id>
	  	<username>YOUR-USERNAME</username>
        <password>YOUR_PASSWORD</password>
        <filePermissions>660</filePermissions>
        <directoryPermissions>770</directoryPermissions>
	  </server>
	  <server>
	  	<id>upload-snapshots-php-maven-org</id>
	  	<username>YOUR-USERNAME</username>
        <password>YOUR_PASSWORD</password>
        <filePermissions>660</filePermissions>
        <directoryPermissions>770</directoryPermissions>
	  </server>
	  <server>
	  	<id>upload-org-mydomain</id>
	  	<username>YOUR-USERNAME</username>
        <password>YOUR_PASSWORD</password>
        <filePermissions>660</filePermissions>
        <directoryPermissions>770</directoryPermissions>
	  </server>
  </servers>
</source>
		</p>
		</section>
		
		<section name="First deploy">
		<p>
		After setting up everything you might test deployment of your first module. <b>NOTE: You should always use a snapshot version
		(f.e. 0.0.1-SNAPSHOT) for testing the deployment. This is becuase it is allowed to redeploy snapshots but you must not
		ever delete a released version.</b> You should ensure that there is a valid open source license in your pom.xml. Not using
		a valid open source license may result in rejected modules.
		</p>
		<p>
		Use the goal "deploy" to deploy the phar of your module and use the goal "site:deploy" to deploy the generated website.
		</p>
		<source>mvn deploy</source>
		<source>mvn site:deploy</source>
		<p>As soon as you deployed a new revision you can view the xworlds website again. The module and version is now visible from
		there. As you see every version and every module contains a status. For know there is a "initializing" status. The module may become
		one of the following status:</p>
		<ul>
		<li><b>initializing</b>: Means that there will be an automatic review of an administrator on your module or version. An administrator
		may delete your modules manually or make them invisible if they are not matching our rules.</li>
		<li><b>open-source</b>: Means that an administrator has checked the project license. Your project is now an official member of
		the PHP-Maven open source repository.</li>
		<li><b>featured-pending</b>: Means that you wanted to become a featured open source project.</li>
		<li><b>featured</b>: If you match our rules of <a href="tut-xworldsrepos-featured.html">featured projects</a> the module is reaching
		this state.</li> 
		</ul>
		
		<p>
		That's it. Your modules are now part of the PHP-Maven repository and they can be downloaded by everyone by simply adding them as a dependency.
		</p>
		</section>
		
		<section name="PEAR channel import">
		<p>
		If you are owning a PEAR channel or a module on a PEAR channel you may create a PEAR-Channel-Domain too. Notice that you must own the channel.
		</p>
		
		<p>
		After adding the PEAR channel or the PEAR module you can configure the interval to check for updates. A minimum of 2 hours is possible. However
		you can manually scan for upgrade once per hour. This can be used if you commited a hotfix and if you want to appear it at the PHP-Maven
		repository directly.
		</p>
		
		<p>
		You see a link that contains a small report of the PEAR scans and the import of the new versions.
		</p>
		</section>
		
		<section name="Additional services">
		<p>
		We provide additional support for services. For example you can host web pages or svn/git repositories. Each of these can be created on the
		website. You need not host everything at xworlds. You can use xworlds to only provide the modules in the repository. We do not describe every
		feature at this point since most of them should be familiar to you. If you have any questions please ask the community for help.
		</p>
		</section>
		
		<p style="text-align:center">[ <a href="tut-xworldsrepos-organization.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-xworldsrepos-ci.html">Next</a> ]</p>
		
</body>
</document>