<?xml version="1.0" encoding="UTF-8"?>
<document>
	<properties>
		<author email="mep_eisen@web.de">
			Martin Eisengardt
		</author>

		<title>Maven for PHP - The official repository</title>
		<meta name="keyword" content="apache, maven, php, tutorials"></meta>
	</properties>
	
	<body>
	
		<p style="text-align:center">[ <a href="tut-xworldsrepos-closedsource.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-xworldsrepos-search.html">Next</a> ]</p>
		
		<section name="Preamble">
		<p><b>NOTE: The official repository is available in a later version. If you want to share your work or get support for your company please <a href="mailto:martin.eisengardt@googlemail.com?subject=Repository access">contact us directly</a>.</b></p>
		
		<p>
		We provide company solutions.
		</p>
		
		<!-- <p>TODO Screenshots</p> -->
		</section>
		
		<section name="features">
		<ul>
		<li>Your own private repository</li>
		<li>Get the full control who is seeing and using the repository</li>
		<li>Hands-on-support from the PHP-Maven people</li>
		<li>24-7 telephone support</li>
		<li>Let your bugs and wishes get a higher priority</li>
		<li>Privacy guaranteed</li>
		<li>Setup a good licensing system</li>
		</ul>
		</section>
		
		<section name="How to get it?">
		<p>
		First of all you should <a href="mailto:martin.eisengardt@googlemail.com">contact us directly</a>. Explain what you need and we will
		send you a good offer.
		</p>
		</section>
		
		<p style="text-align:center">[ <a href="tut-xworldsrepos-closedsource.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-xworldsrepos-search.html">Next</a> ]</p>
		
</body>
</document>