<?xml version="1.0" encoding="UTF-8"?>
<document>
	<properties>
		<author email="mep_eisen@web.de">
			Martin Eisengardt
		</author>

		<title>Maven for PHP - The official repository</title>
		<meta name="keyword" content="apache, maven, php, tutorials"></meta>
	</properties>
	
	<body>
	
		<p style="text-align:center">[ <a href="tut-xworldsrepos-featured.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-xworldsrepos-company.html">Next</a> ]</p>
		
		<section name="Preamble">
		<p><b>NOTE: The official repository is available in a later version. If you want to share your work or get support for your company please <a href="mailto:martin.eisengardt@googlemail.com?subject=Repository access">contact us directly</a>.</b></p>
		
		<p>
		Closed source projects are used to create php libraries that are not human readable. For example by the use of obfuscators.
		</p>
		
		<!-- <p>TODO Screenshots</p> -->
		
		<p><b>The support for obfuscators is planned in PHP-Maven 2.2 or later.</b></p>
		</section>
		
		<p style="text-align:center">[ <a href="tut-xworldsrepos-featured.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-xworldsrepos-company.html">Next</a> ]</p>
		
</body>
</document>