<?xml version="1.0" encoding="UTF-8"?>
<document>
	<properties>
		<title></title>

		<author email="christian.wiedemann@key-tec.de"> 
			Christian Wiedemann
		</author>
		<title>Maven for PHP - Create documentation</title>

		<meta content="apache, maven, php" name="keyword"></meta>
	</properties>
	<body>
		<section name="Create documentation for your project">
		<p>To create a documentation simply run:</p>

			<macro name="snippet">
				<param name="id" value="doxygen"></param>
				<param name="file" value="${phpmavenFsRoot}/src/site/include/pom.xml"></param>
			</macro>
			
			<source>mvn site</source>

			Following documentations will be created.
		<subsection name="PHPDocumentor">
		<p>
				&quot;PHP for Maven&quot; extends the Maven default documentation
				by adding a phpdocumentor goal. 
			</p>

			<subsection name="What happened?">
				PHPDocumentor:<br></br>
				Through the phpdocumentor goal, an api doc is created. The phpdocumnetor
				configuration file must be located under
				src/site/phpdoc/phpdoc.conf. The following parameters
				of the phpdoc.conf will be replaced by the plugin.
				<source>
directory 
target 
				</source>
			</subsection>
			</subsection>
		</section>
	</body>
</document>