<?xml version="1.0" encoding="UTF-8"?>
<document>
	<properties>
		<author email="mep_eisen@web.de">
			Martin Eisengardt
		</author>

		<title>${phpmavenTagName} Index</title>
		<meta name="keyword" content="apache, maven, php, tutorials"></meta>
	</properties>
	
	<body>

	<section name="${phpmavenTagName} Index">
	<ul>
	<li><a href="php-lib-5min.html">Library project (quickstart)</a></li>
	<li><a href="php-web-5min.html">Web project (quickstart)</a></li>
	<li><a href="tutorials.html">Tutorials</a></li>
	</ul>
	</section>
	
	<section name="milestone plan">
	<ul>
	<li><a href="http://trac.php-maven.org/query?status=assigned&status=new&status=accepted&status=reopened&group=status&milestone=2.0">2.0.0</a></li>
	<li><a href="http://trac.php-maven.org/query?status=assigned&status=new&status=accepted&status=reopened&group=status&milestone=2.0.1">2.0.1</a></li>
	<li><a href="http://trac.php-maven.org/query?status=assigned&status=new&status=accepted&status=reopened&group=status&milestone=2.1">2.1</a></li>
	<li><a href="http://trac.php-maven.org/query?status=assigned&status=new&status=accepted&status=reopened&group=status&milestone=x.x">x.x (> 2.1)</a></li>
	</ul>
	</section>
	
	<section name="release notes for 2.0.0-beta-3">
	<ul>
	<li></li>
	</ul>
	</section>
	
	<section name="release notes for 2.0.0-beta-2">
	<ul>
	<li>Contains Hotfixes, see <a href="http://groups.google.com/group/maven-for-php/t/c62ecc03a49cd275">Google groups</a></li>
	<li>Propert setting source folder/ new parent pom for php projects. #14 of trac</li>
	<li>Several common projects imported. #22 of trac</li>
	<li>PHPUnit tests with dependencies to other classes are now executed. #37 of trac</li>
	<li>Several bugfixes on extracting phar dependencies. #39 of trac</li>
	<li>zend-archetype as a sample for web applications.</li>
	</ul>
	</section>
	
	<script src="http://www.google-analytics.com/ga.js" type="text/javascript"></script>
	<script type="text/javascript">
	var pageTracker = _gat._getTracker(&apos;UA-5308244-1&apos;);
	pageTracker._trackPageview();
	</script>
</body>
</document>