<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2010-2012 by PHP-maven.org

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
	<properties>
		<title>${phpmavenTagName} Index</title>
		
		<author email="mep_eisen@web.de">Martin Eisengardt</author>
	</properties>
	
	<body>

	<section name="${phpmavenTagName} Index">
	<ul>
	<li><a href="php-lib-5min.html">Library project (quickstart)</a></li>
	<li><a href="php-web-5min.html">Web project (quickstart)</a></li>
	<li><a href="configuration.html">Configuration</a></li>
	<li><a href="tutorials.html">Tutorials</a></li>
	<li><a href="surefire-report.html">Test results</a></li>
	<li><a href="maven-php-plugin/plugin-info.html">Mojo report</a></li>
	<li><a href="developer.html">Developer infos</a></li>
	</ul>
	</section>
	
	<section name="milestone plan">
	<ul>
	<li><a href="http://trac.php-maven.org/query?status=assigned&amp;status=new&amp;status=accepted&amp;status=reopened&amp;group=status&amp;milestone=2.0.2">2.0.2</a></li>
	<li><a href="http://trac.php-maven.org/query?status=assigned&amp;status=new&amp;status=accepted&amp;status=reopened&amp;group=status&amp;milestone=2.1">2.1</a></li>
	<li><a href="http://trac.php-maven.org/query?status=assigned&amp;status=new&amp;status=accepted&amp;status=reopened&amp;group=status&amp;milestone=x.x">x.x (> 2.1)</a></li>
	</ul>
	</section>
	
	<section name="release notes for 2.0.2">
	<ul>
	<li><a href="http://trac.php-maven.org/ticket/57">Trac #57</a>: Test case for reverse index jars</li>
	<li><a href="maven-php-plugin/plugin-info.html">new mojo reports added</a></li>
	<li>Added executable configuration to exec mojo</li>
	<li><a href="http://trac.php-maven.org/ticket/81">Trac #81</a>: Added extract-phar mojo. See <a href="tut-tools-phar.html">the tools documentation</a> for details.</li>
	<li><a href="http://trac.php-maven.org/ticket/82">Trac #82</a>: Added convert-phar mojo. See <a href="tut-tools-phar.html">the tools documentation</a> for details.</li>
	<li><a href="http://trac.php-maven.org/ticket/83">Trac #83</a>: mvn site on clean project fails</li>
	<li><a href="http://trac.php-maven.org/ticket/85">Trac #85</a> and <a href="http://trac.php-maven.org/ticket/61">Trac #61</a>: added error_reporting to executable configuration. See <a href="configuration.html">the first example of the configuration page</a> for details on setting error_reporting.</li>
	<li><a href="http://trac.php-maven.org/ticket/85">Trac #85</a>: overwrite error_reporting for invoking older verions of phpDocumentor (ignore warnings).</li>
	<li><a href="http://trac.php-maven.org/ticket/87">Trac #87</a>: cannot set executable configuration on phpdoc.</li>
	<li><a href="http://trac.php-maven.org/ticket/88">Trac #88</a>: option for generation of xml coverage.</li>
	<li><a href="http://trac.php-maven.org/ticket/91">Trac #91</a>: unrecognized option --coverage-xml.</li>
	<li><a href="http://trac.php-maven.org/ticket/89">Trac #89</a>: using ${project.build.directory} instead of basedir.</li>
	</ul>
	</section>
</body>
</document>