<?xml version="1.0" encoding="UTF-8"?>
<document>
	<properties>
		<author email="mep_eisen@web.de">
			Martin Eisengardt
		</author>

		<title>Maven for PHP - The official repository</title>
		<meta name="keyword" content="apache, maven, php, tutorials"></meta>
	</properties>
	
	<body>
	
		<p style="text-align:center">[ <a href="tut-xworldsrepos-company.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-add3partylibs.html">Next</a> ]</p>
		
		<section name="Preamble">
		<p><b>NOTE: The official repository is available in a later version. If you want to share your work or get support for your company please <a href="mailto:martin.eisengardt@googlemail.com?subject=Repository access">contact us directly</a>.</b></p>
		
		<p>
		Searching for a module is not that difficult as it seems. There are two search scenarios we support.
		</p>
		
		<!-- <p>TODO Screenshots</p> -->
		</section>
		
		<section name="Search for a single module">
		<p>
		If you already know some good search string of a module name or similar thing you can use our <a href="http://nexus.php-maven.org/">nexus</a>.
		Go to the website and enter your search string. For example you may search for "zend-framework" or for "PHPUnit". It will display the
		search results and the modules immediatly.
		</p>
		</section>
		
		<section name="Search for a featured project">
		<p>
		At our <a href="http://catalog.xworlds.org/">xWorlds catalog</a> you will be able to browse for several categories and topics. If you are
		not for sure how a module is called you should go there and browse the specific category.
		</p>
		</section>
		
		<p style="text-align:center">[ <a href="tut-xworldsrepos-company.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-add3partylibs.html">Next</a> ]</p>
		
</body>
</document>