<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2010-2012 by PHP-maven.org

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
	<properties>
		<title>Maven for PHP - The lifecycle</title>
		<author email="christian.wiedemann@key-tec.de">Christian Wiedemann</author>
		<!-- texts from Martin Eisengardt -->
	</properties>
	
	<head>
		<title>Maven for PHP - The lifecycle</title>
		<meta name="keyword" content="apache, maven, php, php-maven, maven tutorial, php maven tutorial, maven lifecycle, php lifecycle, lifecycle, maven php project, maven php projects, php library lifecycle" />		
	</head>
	
	<body>
		<p style="text-align:center">[ <a href="tutorials.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-lifecycle-creation.html">Next</a> ]</p>
		
		<section name="The lifecylce">
		<p><img src="images/lifecycle.gif" alt="lifecycle"></img> <!-- TODO Lifecycle.gif may need update --></p>
		
			<subsection name="Explained">
			<p>For those being new to maven this may be confusing. In short words: Maven introduces a common lifecycle to projects. Think of the best practice
			everyone in the world uses for own projects even if they do not use maven. You always develop software in phases, for example:</p>
			
			<ul>
			<li>Project creation</li>
			<li>Project development</li>
			<li>Write documentation</li>
			<li>Test project</li>
			<li>Deploy project</li>
			</ul>
			
			<p>With maven you get a tool to manage this project lifecycle. Maven introduces so called goals. Some of them may be self explained. For example
			the goal &quot;compile&quot; may be familiar to you if you have some experience in other compilable languages, for example Java or C#. Those goals being of
			interest for php-maven are explained in details. Simple click through the tutorials:</p>
			
			<ul>
			<li><a href="tut-lifecycle-creation.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Creation</span><br></br>Create the project using archetypes<br></br></a></li>
	        <li><a href="tut-lifecycle-developing.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Developing</span><br></br>Develop your project<br></br></a></li>
	        <li><a href="tut-lifecycle-testing.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Testing</span><br></br>Do unit testing (for details see the unit testing section below)<br></br></a></li>
	        <li><a href="tut-lifecycle-building.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Building</span><br></br>Use and customize the maven build goal<br></br></a></li>
	        <li><a href="tut-lifecycle-documentation.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Documentation</span><br></br>Create project documentation (for details see the documentation section below)<br></br></a></li>
	        <li><a href="tut-lifecycle-deploy.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Deploy</span><br></br>Deploying the project to repositories and servers.<br></br></a></li>
	        </ul>
			</subsection>
		</section>
		
		<p style="text-align:center">[ <a href="tutorials.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-lifecycle-creation.html">Next</a> ]</p>
		
	</body>
</document>