<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.phpmaven.eclipse.ui.menuGroupContribution"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               id="org.phpmaven.eclipse.ui.phpmavenMenu"
               label="PHP-Maven"
               path="additions">
            <separator
                  name="group1">
            </separator>
            <separator
                  name="additions">
            </separator>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.phpmaven.eclipse.ui.actionContribution"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.phpmaven.eclipse.ui.menus.AddNatureAction"
               id="org.phpmaven.eclipse.ui.convertProjectAction"
               label="Convert to PHP-Maven project"
               menubarPath="org.phpmaven.eclipse.ui.phpmavenMenu/group1">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.phpmaven.eclipse.ui.phpunitConstribution"
            objectClass="org.eclipse.core.resources.IResource">
            <filter name="projectNature" value="org.phpmaven.eclipse.core.phpMavenNature"></filter>
            
            <menu
                  id="org.phpmaven.eclipse.ui.infoMenu"
                  label="Info"
                  path="org.phpmaven.eclipse.ui.phpmavenMenu/group1">
               <groupMarker
                     name="group1">
               </groupMarker>
            </menu>
            <menu
                  icon="icons/obj16/menu/web.png"
                  id="org.phpmaven.eclipse.ui.webMenu"
                  label="Web-Project"
                  path="org.phpmaven.eclipse.ui.phpmavenMenu/group1">
               <groupMarker
                     name="group1">
               </groupMarker>
            </menu>
            <menu
                  icon="icons/obj16/menu/site.png"
                  id="org.phpmaven.eclipse.ui.siteMenu"
                  label="Site"
                  path="org.phpmaven.eclipse.ui.phpmavenMenu/group1">
               <groupMarker
                     name="group1">
               </groupMarker>
            </menu>
            <menu
                  icon="icons/obj16/menu/lifecycle.png"
                  id="org.phpmaven.eclipse.ui.lifecycleMenu"
                  label="Lifecycle"
                  path="org.phpmaven.eclipse.ui.phpmavenMenu/group1">
               <groupMarker
                     name="group1">
               </groupMarker>
            </menu>
            <action
                  class="org.phpmaven.eclipse.ui.menus.LifecycleReleaseHandler"
                  icon="icons/obj16/menu/lifecycle_release.png"
                  id="org.phpmaven.eclipse.ui.main.lifecycle.releaseCommand"
                  label="Release"
                  menubarPath="org.phpmaven.eclipse.ui.phpmavenMenu/org.phpmaven.eclipse.ui.lifecycleMenu/group1">
            </action>
            <action
                  class="org.phpmaven.eclipse.ui.menus.LifecycleDeployHandler"
                  icon="icons/obj16/menu/lifecycle_upload.png"
                  id="org.phpmaven.eclipse.ui.main.lifecycle.deployCommand"
                  label="Deploy"
                  menubarPath="org.phpmaven.eclipse.ui.phpmavenMenu/org.phpmaven.eclipse.ui.lifecycleMenu/group1">
            </action>
            <action
                  class="org.phpmaven.eclipse.ui.menus.LifecycleInstallHandler"
                  icon="icons/obj16/menu/lifecycle_install.png"
                  id="org.phpmaven.eclipse.ui.main.lifecycle.installCommand"
                  label="Install"
                  menubarPath="org.phpmaven.eclipse.ui.phpmavenMenu/org.phpmaven.eclipse.ui.lifecycleMenu/group1">
            </action>
            <action
                  class="org.phpmaven.eclipse.ui.menus.LifecyclePackageHandler"
                  icon="icons/obj16/menu/lifecycle_package.png"
                  id="org.phpmaven.eclipse.ui.main.lifecycle.packageCommand"
                  label="Package"
                  menubarPath="org.phpmaven.eclipse.ui.phpmavenMenu/org.phpmaven.eclipse.ui.lifecycleMenu/group1">
            </action>
            <action
                  class="org.phpmaven.eclipse.ui.menus.LifecycleTestHandler"
                  icon="icons/obj16/menu/lifecycle_test.png"
                  id="org.phpmaven.eclipse.ui.main.lifecycle.testCommand"
                  label="Test"
                  menubarPath="org.phpmaven.eclipse.ui.phpmavenMenu/org.phpmaven.eclipse.ui.lifecycleMenu/group1">
            </action>
            <action
                  class="org.phpmaven.eclipse.ui.menus.SiteViewHandler"
                  icon="icons/obj16/menu/site_view.png"
                  id="org.phpmaven.eclipse.ui.main.site.viewCommand"
                  label="View"
                  menubarPath="org.phpmaven.eclipse.ui.phpmavenMenu/org.phpmaven.eclipse.ui.siteMenu/group1">
            </action>
            <action
                  class="org.phpmaven.eclipse.ui.menus.SiteDeployHandler"
                  icon="icons/obj16/menu/site_upload.png"
                  id="org.phpmaven.eclipse.ui.main.site.deployCommand"
                  label="Deploy"
                  menubarPath="org.phpmaven.eclipse.ui.phpmavenMenu/org.phpmaven.eclipse.ui.siteMenu/group1">
            </action>
            <action
                  class="org.phpmaven.eclipse.ui.menus.SiteGenerateHandler"
                  icon="icons/obj16/menu/site_generate.png"
                  id="org.phpmaven.eclipse.ui.main.site.generateCommand"
                  label="Generate"
                  menubarPath="org.phpmaven.eclipse.ui.phpmavenMenu/org.phpmaven.eclipse.ui.siteMenu/group1">
            </action>
            <action
                  class="org.phpmaven.eclipse.ui.menus.WebViewHandler"
                  icon="icons/obj16/menu/web_view.png"
                  id="org.phpmaven.eclipse.ui.main.web.viewCommand"
                  label="View"
                  menubarPath="org.phpmaven.eclipse.ui.phpmavenMenu/org.phpmaven.eclipse.ui.webMenu/group1">
            </action>
            <action
                  class="org.phpmaven.eclipse.ui.menus.WebStopHandler"
                  icon="icons/obj16/menu/web_stop.png"
                  id="org.phpmaven.eclipse.ui.main.web.stopCommand"
                  label="Stop Webserver"
                  menubarPath="org.phpmaven.eclipse.ui.phpmavenMenu/org.phpmaven.eclipse.ui.webMenu/group1">
            </action>
            <action
                  class="org.phpmaven.eclipse.ui.menus.WebStartHandler"
                  icon="icons/obj16/menu/web_start.png"
                  id="org.phpmaven.eclipse.ui.main.web.startCommand"
                  label="Start Webserver"
                  menubarPath="org.phpmaven.eclipse.ui.phpmavenMenu/org.phpmaven.eclipse.ui.webMenu/group1">
            </action>
            <action
                  class="org.phpmaven.eclipse.ui.menus.InfoPhpMavenHandler"
                  id="org.phpmaven.eclipse.ui.main.info.phpMavenCommand"
                  label="PHP-Maven"
                  menubarPath="org.phpmaven.eclipse.ui.phpmavenMenu/org.phpmaven.eclipse.ui.infoMenu/group1">
            </action>
            <action
                  class="org.phpmaven.eclipse.ui.menus.InfoPhpHandler"
                  id="org.phpmaven.eclipse.ui.main.info.phpCommand"
                  label="PHP"
                  menubarPath="org.phpmaven.eclipse.ui.phpmavenMenu/org.phpmaven.eclipse.ui.infoMenu/group1">
            </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.phpmaven.eclipse.ui.category.phpmaven"
            name="PHP-Maven">
      </category>
      <view
            category="org.phpmaven.eclipse.ui.category.phpmaven"
            class="org.phpmaven.eclipse.ui.views.PhpUnitResultView"
            id="org.phpmaven.eclipse.ui.views.phpUnitResults"
            name="PHPUnit results"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.phpmaven.eclipse.ui.newCategory"
            name="PHP-Maven">
      </category>
      <wizard
            class="org.phpmaven.eclipse.ui.prj.NewProjectWizard"
            finalPerspective="org.eclipse.php.perspective"
            id="org.phpmaven.eclipse.ui.newProjectWizard"
            name="PHP-Maven project"
            project="true">
      </wizard>
      <primaryWizard
            id="org.phpmaven.eclipse.ui.newProjectWizard">
      </primaryWizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.phpmaven.eclipse.ui.commands.category"
            name="PHP-Maven">
      </category>
      <command
            categoryId="org.phpmaven.eclipse.ui.commands.category"
            defaultHandler="org.phpmaven.eclipse.ui.menus.LifecycleTestHandler"
            id="org.phpmaven.eclipse.ui.main.lifecycle.testCommand"
            name="Test">
      </command>
      <command
            categoryId="org.phpmaven.eclipse.ui.commands.category"
            defaultHandler="org.phpmaven.eclipse.ui.menus.LifecyclePackageHandler"
            id="org.phpmaven.eclipse.ui.main.lifecycle.packageCommand"
            name="Package">
      </command>
      <command
            categoryId="org.phpmaven.eclipse.ui.commands.category"
            defaultHandler="org.phpmaven.eclipse.ui.menus.LifecycleInstallHandler"
            id="org.phpmaven.eclipse.ui.main.lifecycle.installCommand"
            name="Install">
      </command>
      <command
            categoryId="org.phpmaven.eclipse.ui.commands.category"
            defaultHandler="org.phpmaven.eclipse.ui.menus.LifecycleDeployHandler"
            id="org.phpmaven.eclipse.ui.main.lifecycle.deployCommand"
            name="Deploy">
      </command>
      <command
            categoryId="org.phpmaven.eclipse.ui.commands.category"
            defaultHandler="org.phpmaven.eclipse.ui.menus.LifecycleReleaseHandler"
            id="org.phpmaven.eclipse.ui.main.lifecycle.releaseCommand"
            name="Release">
      </command>
      <command
            categoryId="org.phpmaven.eclipse.ui.commands.category"
            defaultHandler="org.phpmaven.eclipse.ui.menus.SiteGenerateHandler"
            id="org.phpmaven.eclipse.ui.main.site.generateCommand"
            name="Generate Report">
      </command>
      <command
            categoryId="org.phpmaven.eclipse.ui.commands.category"
            defaultHandler="org.phpmaven.eclipse.ui.menus.SiteViewHandler"
            id="org.phpmaven.eclipse.ui.main.site.viewCommand"
            name="View Report">
      </command>
      <command
            categoryId="org.phpmaven.eclipse.ui.commands.category"
            defaultHandler="org.phpmaven.eclipse.ui.menus.SiteDeployHandler"
            id="org.phpmaven.eclipse.ui.main.site.deployCommand"
            name="Deploy Report">
      </command>
      <command
            categoryId="org.phpmaven.eclipse.ui.commands.category"
            defaultHandler="org.phpmaven.eclipse.ui.menus.WebStartHandler"
            id="org.phpmaven.eclipse.ui.main.web.startCommand"
            name="Start Webserver">
      </command>
      <command
            categoryId="org.phpmaven.eclipse.ui.commands.category"
            defaultHandler="org.phpmaven.eclipse.ui.menus.WebStopHandler"
            id="org.phpmaven.eclipse.ui.main.web.stopCommand"
            name="Stop Webserver">
      </command>
      <command
            categoryId="org.phpmaven.eclipse.ui.commands.category"
            defaultHandler="org.phpmaven.eclipse.ui.menus.WebViewHandler"
            id="org.phpmaven.eclipse.ui.main.web.viewCommand"
            name="View Website">
      </command>
      <command
            categoryId="org.phpmaven.eclipse.ui.commands.category"
            defaultHandler="org.phpmaven.eclipse.ui.menus.InfoPhpHandler"
            id="org.phpmaven.eclipse.ui.main.info.phpCommand"
            name="Info PHP">
      </command>
      <command
            categoryId="org.phpmaven.eclipse.ui.commands.category"
            defaultHandler="org.phpmaven.eclipse.ui.menus.InfoPhpMavenHandler"
            id="org.phpmaven.eclipse.ui.main.info.phpMavenCommand"
            name="Info PHP-Maven">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.phpmaven.eclipse.ui.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.phpmaven.eclipse.ui.menus.phpMaven"
               label="PHP-Maven"
               mnemonic="M">
            <menu
                  icon="icons/obj16/menu/lifecycle.png"
                  label="Lifecycle">
               <command
                     commandId="org.phpmaven.eclipse.ui.main.lifecycle.testCommand"
                     icon="icons/obj16/menu/lifecycle_test.png"
                     label="Test"
                     style="push">
               </command>
               <command
                     commandId="org.phpmaven.eclipse.ui.main.lifecycle.packageCommand"
                     icon="icons/obj16/menu/lifecycle_package.png"
                     label="Package"
                     style="push">
               </command>
               <command
                     commandId="org.phpmaven.eclipse.ui.main.lifecycle.installCommand"
                     icon="icons/obj16/menu/lifecycle_install.png"
                     label="Install"
                     style="push">
               </command>
               <command
                     commandId="org.phpmaven.eclipse.ui.main.lifecycle.deployCommand"
                     icon="icons/obj16/menu/lifecycle_upload.png"
                     label="Deploy"
                     style="push">
               </command>
               <command
                     commandId="org.phpmaven.eclipse.ui.main.lifecycle.releaseCommand"
                     icon="icons/obj16/menu/lifecycle_release.png"
                     label="Release"
                     style="push">
               </command>
            </menu>
            <menu
                  icon="icons/obj16/menu/site.png"
                  label="Site">
               <command
                     commandId="org.phpmaven.eclipse.ui.main.site.generateCommand"
                     icon="icons/obj16/menu/site_generate.png"
                     label="Generate"
                     style="push">
               </command>
               <command
                     commandId="org.phpmaven.eclipse.ui.main.site.viewCommand"
                     icon="icons/obj16/menu/site_view.png"
                     label="View"
                     style="push">
               </command>
               <command
                     commandId="org.phpmaven.eclipse.ui.main.site.deployCommand"
                     icon="icons/obj16/menu/site_upload.png"
                     label="Deploy"
                     style="push">
               </command>
            </menu>
            <menu
                  icon="icons/obj16/menu/web.png"
                  label="Web-Project">
               <command
                     commandId="org.phpmaven.eclipse.ui.main.web.startCommand"
                     icon="icons/obj16/menu/web_start.png"
                     label="Start Webserver"
                     style="push">
               </command>
               <command
                     commandId="org.phpmaven.eclipse.ui.main.web.stopCommand"
                     icon="icons/obj16/menu/web_stop.png"
                     label="Stop Webserver"
                     style="push">
               </command>
               <command
                     commandId="org.phpmaven.eclipse.ui.main.web.viewCommand"
                     icon="icons/obj16/menu/web_view.png"
                     label="View"
                     style="push">
               </command>
            </menu>
            <menu
                  label="Info">
               <command
                     commandId="org.phpmaven.eclipse.ui.main.info.phpCommand"
                     label="PHP"
                     style="push">
               </command>
               <command
                     commandId="org.phpmaven.eclipse.ui.main.info.phpMavenCommand"
                     label="PHP-Maven"
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.phpmaven.eclipse.ui.editors.TestResultEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="phpmaven.xml"
            icon="icons/obj16/filetype/test_results.png"
            id="org.phpmaven.eclipse.ui.editors.TestResultEditor"
            name="PHP-Maven Test Results">
      </editor>
   </extension>

</plugin>
