<?xml version="1.0" encoding="UTF-8"?>
<document>
	<properties>
		<author email="mep_eisen@web.de">
			Martin Eisengardt
		</author>

		<title>${phpmavenTagName} Index</title>
		<meta name="keyword" content="apache, maven, php, tutorials"></meta>
	</properties>
	
	<body>

	<section name="${phpmavenTagName} Index">
	<ul>
	<li><a href="php-lib-5min.html">Library project (quickstart)</a></li>
	<li><a href="php-web-5min.html">Web project (quickstart)</a></li>
	<li><a href="configuration.html">Configuration</a></li>
	<li><a href="tutorials.html">Tutorials</a></li>
	<li><a href="maven-php-plugin-test/surefire-report.html">Test results</a></li>
	<li><a href="developer.html">Developer infos</a></li>
	</ul>
	</section>
	
	<section name="milestone plan">
	<ul>
	<li><a href="http://trac.php-maven.org/query?status=assigned&amp;status=new&amp;status=accepted&amp;status=reopened&amp;group=status&amp;milestone=2.0">2.0.0</a></li>
	<li><a href="http://trac.php-maven.org/query?status=assigned&amp;status=new&amp;status=accepted&amp;status=reopened&amp;group=status&amp;milestone=2.0.1">2.0.1</a></li>
	<li><a href="http://trac.php-maven.org/query?status=assigned&amp;status=new&amp;status=accepted&amp;status=reopened&amp;group=status&amp;milestone=2.1">2.1</a></li>
	<li><a href="http://trac.php-maven.org/query?status=assigned&amp;status=new&amp;status=accepted&amp;status=reopened&amp;group=status&amp;milestone=x.x">x.x (> 2.1)</a></li>
	</ul>
	</section>
	
	<section name="release notes for 2.0.0-beta-4">
	<ul>
	<li></li>
	</ul>
	</section>
	
	<section name="release notes for 2.0.0-beta-3">
	<ul>
	<li>fixed unit tests; see <a href="maven-php-plugin-test/surefire-report.html">test results</a></li>
	<li>complete reworking of plugins code
	    <ul>
	    <li><b>new module "maven-php-core"</b>: utility library to configure plexus components via pom</li>
	    <li><b>new module "maven-php-exec"</b>: PHP (cli) execution support</li>
	    <li><b>new module "maven-php-project"</b>: PHP (cli) execution support for PHP projects (with include paths for php-maven)</li>
	    <li><b>new module "maven-php-phar"</b>: Phar utility to create and extract phar archives</li>
	    <li><b>new module "maven-php-pear"</b>: Pear support to read remote PEAR (REST) channels and to utilize pear installations</li>
	    <li><b>new module "maven-php-phpunit"</b>: Supports execution of phpunit tests</li>
	    <li><b>new module "maven-php-phpdoc"</b>: Phpdoc report generation</li>
	    <li><b>new module "maven-php-validate-lint"</b>: (future) will perform syntax lint checks on php files</li>
	    </ul>
	</li>
	<li>fixed debian suhosin bug that caused the phar utility to not work correctly.</li>
	<li>fixed many phpunit issues that are related to various version incompatibilities from V3.2 up to V3.6.</li>
	<li>fixed phpunit false reports</li>
	<li>phar fixtures for linux/unix mentioned on the google groups (SKIP_DOTS etc.)</li>
	<li>repository rework; splittet into: phar, pear, php, plugins, 3rd party. No update of configuration is needed.</li>
	<li>INCOMPATIBLE CHANGE: xworlds.org was cleared and will not mirror php-maven any longer.</li>
	<li>INCOMPATIBLE CHANGE: some configuration options were changed due to the refactoring; see <a href="configuration.html">the new configuration page</a></li>
	<li>fixed archetypes filtering of javascript files</li>
	<li>Fixed many issues caused by broken pear imports</li>
	<li>Fixed many linux related problems (tested with debian and php5.3 suhosin)</li>
	</ul>
	</section>
	
	<section name="release notes for 2.0.0-beta-2">
	<ul>
	<li>Contains Hotfixes, see <a href="http://groups.google.com/group/maven-for-php/t/c62ecc03a49cd275">Google groups</a></li>
	<li>Propert setting source folder/ new parent pom for php projects. #14 of trac</li>
	<li>Several common projects imported. #22 of trac</li>
	<li>PHPUnit tests with dependencies to other classes are now executed. #37 of trac</li>
	<li>Several bugfixes on extracting phar dependencies. #39 of trac</li>
	<li>zend-archetype as a sample for web applications.</li>
	</ul>
	</section>
</body>
</document>