<?xml version="1.0" encoding="UTF-8"?>
<document>
	<properties>
		<author email="mep_eisen@web.de">
			Martin Eisengardt
		</author>

		<title>Maven for PHP - The official repository</title>
		<meta name="keyword" content="apache, maven, php, tutorials"></meta>
	</properties>
	
	<body>
	
		<p style="text-align:center">[ <a href="tut-xworldsrepos.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-xworldsrepos-opensource.html">Next</a> ]</p>
		
		<section name="Preamble">
		<p><b>NOTE: The official repository is available in a later version. If you want to share your work or get support for your company please <a href="mailto:martin.eisengardt@googlemail.com?subject=Repository access">contact us directly</a>.</b></p>
		
		<p>We require a minimum of organization to let you join the php-maven repository. That means that you must already be registered and
		have validated your email address. Without this validation we do not respect your request. Ensure that the email address is valid and
		that it is not a temporary address. We won&apos;t publish the email address in any way but keep in mind that it may be published if you
		use this email address in your pom, your sources or during svn/git commits.</p>
		
		<!-- <p>TODO Screenshots</p> -->
		</section>
		
		<section name="Create an organization">
		<p>The first step is to create an organization. You must use a common domain name that you already own. Either register with
		an email address of that domain or refer to a home page that we can see you are the valid owner. Notice that we do not accept
		an organization request from other domains or external web sites.</p>
		
		<p>As an alternative you can choose to let xWorlds host your domain. Therefor you can register a new domain that may be mapped
		to webspace and one of the sites of your modules.</p>
		
		<p>You can - of course - already get to the next steps without getting our validation. But deploying your modules will be disabled
		till the organization is accepted by our administrators.</p>
		</section>
		
		<section name="Create a group id">
		<p>You can know create a group id that fits your needs. This will always be a sub domain of your organization domain. For security
		reasons we applied a limit of group ids and organizations you can manage. But you may rise this limit although we are thinking that
		you do not need it.</p>
		
		<p>The group ids requires no special administration from us. You can use it as soon as you created it.</p>
		
			<subsection name="Wording of group id">
			<p>You should always use a nice wording. Think of users that may use your project. They should find the wording useful. If
			you have any question about the wording ask us or the community for help.</p>
			</subsection>
			
			<subsection name="Do I need a new group id?">
			<p>This question is hard to answer correctly. You should try to group up your projects clever. However if you
			plan to provide hundreds of projects you should ask us or the community for some notes. Maybe we could help
			you with a good and clever project organization.</p>
			
			<p>Structural modules (f.e. parent poms) should not reside in their own package. Instead use the artifactId
			and call them &quot;xxxx-parent&quot; or something similar.</p>
			</subsection>
		</section>
		
		<section name="Invite team members">
		<p>Now you should invite other team members. They can be divided into the following groups:</p>
		
		<ul>
		<li>Organization administrator</li>
		<li>Organization developer</li>
		<li>Organization member</li>
		<li>Group administrator</li>
		<li>Group developer</li>
		<li>Group member</li>
		<li>Project administrator</li>
		<li>Project developer</li>
		<li>Project member</li>
		</ul>
		
		<p>There will be always exactly one owner. The owner is the individual that created the organization, groupId or artifactId.
		For us this is the main person we will contact. However there may be more than one person responsible for everything.
		Those persons are called administrators. Administrators however will be contacted by us if there are problems and in replacement
		of the owner.</p>
		
		<p>Organization members automatically become group members of this organization. Group members automatically become project
		members. Same is done for administrators and developers. So if you need to divide the team per module simply add them at
		module level and they will only get access to this specific module.</p>
		
		<p>Members get read access while developers get deploy rights. The administrators get administrational rights such as inviting 
		new members or removing them. Notice that for open-sourced and even closed-source projects you do not need invite
		members. Because of sharing your projects with public everyone automatically gets access, no matter if anonymous or
		logged in.</p>
		
		<p>The team is not published if you do not decide to. We recommend to use the pom or a project site to share your contact
		details.</p>
		</section>
		
		<p style="text-align:center">[ <a href="tut-xworldsrepos.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-xworldsrepos-opensource.html">Next</a> ]</p>
		
</body>
</document>