<?xml version="1.0" encoding="UTF-8"?>
<document>
	<properties>
		<author email="mep_eisen@web.de">
			Martin Eisengardt
		</author>

		<title>${phpmavenTagName} Index</title>
		<meta name="keyword" content="apache, maven, php, tutorials"></meta>
	</properties>
	
	<body>

	<section name="${phpmavenTagName} Index">
	<ul>
	<li><a href="php-lib-5min.html">Library project (quickstart)</a></li>
	<li><a href="php-web-5min.html">Web project (quickstart)</a></li>
	<li><a href="tutorials.html">Tutorials</a></li>
	</ul>
	</section>
	
	<section name="release notes">
	<ul>
	<li>Contains Hotfixes, see <a href="http://groups.google.com/group/maven-for-php/t/c62ecc03a49cd275">Google groups</a></li>
	<li>Propert setting source folder/ new parent pom for php projects. #14 of trac</li>
	<li>Several common projects imported. #22 of trac</li>
	<li>PHPUnit tests with dependencies to other classes are now executed. #37 of trac</li>
	<li>Several bugfixes on extracting phar dependencies. #39 of trac</li>
	<li>zend-archetype as a sample for web applications.</li>
	</ul>
	</section>
</body>
</document>