<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2010-2012 by PHP-maven.org

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
	<properties>
		<title>Maven for PHP - Phar tooling</title>
		<author email="mep_eisen@web.de">Martin Eisengardt</author>
	</properties>
	
	<head>
		<title>Maven for PHP - Phar tooling</title>
		<meta name="keyword" content="apache, maven, php, php-maven, maven tutorial, php maven tutorial, php repository, maven repository, maven support, php support, php maven support" />		
	</head>
	
	<body>
	
		<p style="text-align:center">[ <a href="tut-lifecycle-deploy.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-xworldsrepos.html">Next</a> ]</p>
		
		<section name="Preamble">
		<p>Php-maven can be used to manipulate and query phar files.</p>
		</section>
		
		<section name="List-Files">
		<p>To query php maven for the files inside a phar simply enter the following command:</p>
<source>
mvn -Dphar=path/to/my/file.phar org.phpmaven:maven-php-plugin:${phpmavenTagName}:list-phar-files
</source>
		<p>You will get an output similar to the following:</p>
<source>
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building Maven Stub Project (No POM) 1
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- maven-php-plugin:2.0.2:list-phar-files (default-cli) @ standal
one-pom ---
[INFO] contents of phar file C:\test\my.phar
[INFO] \MyClass.php
[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESS
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 1.056s
[INFO] Finished at: Fri Aug 03 22:58:36 CEST 2012
[INFO] Final Memory: 7M/118M
[INFO] ------------------------------------------------------------------------
</source>
		</section>
		
		<section name="Extract-Files">
		<p>To extract a phar file into a target directory you can use the extract-phar mojo:</p>
<source>
mvn -Dphar=path/to/my/file.phar -Dtarget=path/to/my/target-dir org.phpmaven:maven-php-plugin:${phpmavenTagName}:extract-phar
</source>
		<p>You will get an output similar to the following:</p>
<source>
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building Maven Stub Project (No POM) 1
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- maven-php-plugin:2.0.2:extract-phar (default-cli) @ standal
one-pom ---
[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESS
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 1.056s
[INFO] Finished at: Fri Aug 03 22:58:36 CEST 2012
[INFO] Final Memory: 7M/118M
[INFO] ------------------------------------------------------------------------
</source>
		</section>
		
		<section name="Convert-Files">
		<p>To convert a zip file to phar (and vice-versa) use the convert-phar mojo:</p>
<source>
mvn -Dfrom=path/to/my/src-file.phar -Dto=path/to/my/dest-file.zip org.phpmaven:maven-php-plugin:${phpmavenTagName}:convert-phar
</source>
		<p>You will get an output similar to the following:</p>
<source>
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building Maven Stub Project (No POM) 1
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- maven-php-plugin:2.0.2:convert-phar (default-cli) @ standal
one-pom ---
[INFO] Extracting zip: C:\Test\test.zip
[INFO] Packing phar: C:\Test\test.phar
[INFO] Deleting temporary directory: C:\Test\temp
[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESS
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 1.056s
[INFO] Finished at: Fri Aug 03 22:58:36 CEST 2012
[INFO] Final Memory: 7M/118M
[INFO] ------------------------------------------------------------------------
</source>
		<p>Currently the mojo recognizes files by extensions:</p>
		<ul>
			<li>zip</li>
			<li>jar</li>
			<li>phar</li>
		</ul>
		</section>
		
		<p style="text-align:center">[ <a href="tut-lifecycle-deploy.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-xworldsrepos.html">Next</a> ]</p>
		
</body>
</document>