<?xml version="1.0" encoding="UTF-8"?>
<document>
	<properties>
		<author email="mep_eisen@web.de">
			Martin Eisengardt
		</author>

		<title>Maven for PHP - The official repository</title>
		<meta name="keyword" content="apache, maven, php, tutorials"></meta>
	</properties>
	
	<body>
	
		<p style="text-align:center">[ <a href="tut-lifecycle-deploy.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-xworldsrepos-organization.html">Next</a> ]</p>
		
		<section name="Preamble">
		<p><b>NOTE: The official repository is available in a later version. If you want to share your work or get support for your company please <a href="mailto:martin.eisengardt@googlemail.com?subject=Repository access">contact us directly</a>.</b></p>
		
		<p><b>SECURITY WARNING: WE DO NEVER NEVER ASK YOU FOR YOUR PASSWORD! Every administrator at xworlds is allowed to login with your account
		without ever knowing your password. This is called masking. You will see a notice if an administrator masked your account. So if there
		is anyone asking you for passwords do never answer him. Simply delete the mail.</b></p>
		
		<p>Php-maven supports an official repository to find both, the maven plugins and the php projects. There are some standards we all must
		follow. These standards or conventions are explained in this tutorial chapter as well as a small manual for accessing the official
		repository.</p>
		</section>
		
		<section name="Setup">
		<p>You already should have a working repository setup. See the <a href="${phpmavenRootUrl}/prepare.html">prare site</a> for details.</p>

		<p>Within the official repository we will divide multiple project targets. There will be open-source projects as well as closed-source.
		And you are able to host various commercial/ non-public modules. However before being allowed to deploy anything you will need to
		register yourself with the repository. This is required because we do not want any third person to commit a virus or any other thing
		by using your name. So only persons you permit to deploy your modules are able to do this.</p>
		</section>
		
		<section name="Why not setting up your own repository?">
		<p>There are three reasons. At first developers are very very very lazy. And thus they do not like to mess up their settings.pom with hundreds
		of repositories. The second reason is the answer to the question how to find your project. A php developer using php-maven will sooner or
		later ask how to find the preferred libraries or how to find a library for solving the requirements. At google groups there were several
		questions about an official repository. And the third reason: You don&apos;t need to provide download and upload capacity.</p>
		
			<subsection name="But I do want to">
			<p>Feel free to create your own repository. You need something able to upload and download. We recommend an apache webserver with
			either activated Webdav or ftp access. Look in the lifecycle deployment phase for some hints.</p>
			</subsection>
			
			<subsection name="But what is nexus?">
			<p>This is nothing you should wonder about or take care of it. At least a nexus is recommended to manage a repository of bigger size.
			If you have something more than normal webspace (a root server) you can decide to install and setup your own nexus. Notice that this
			is nothing we will support because it is the best way to get support from the maven/sonatype guys. The nexus and maven itself do not
			behave differently because of php-maven or phars.</p>
			
			<p>Benefits we get from maven is indexing and repository management (f.e. automatically snapshot cleanup).</p>
			</subsection>
			
			<subsection name="Are there any benefits?">
			<p>Yes. We will soon support well coded projects. Well coded projects will be presented as best-practices. We will support
			your team with svn/webspace/forums. Evenrything you might need to present your project in a well known place.</p>
			
			<p>Of course there is a way to support commercial and closed-source projects as well. Simply ask us and describe your needs.</p>
			</subsection>
		</section>
		
		<section name="Steps to use the official repository">
		<ul>
		<li>Register at <a href="http://www.xworlds.org">xworlds.org</a></li>
		<li><a href="tut-xworldsrepos-organization.html">Create your company/ organization</a></li>
		<li><a href="tut-xworldsrepos-opensource.html">Create your open source project</a></li>
		<li><a href="tut-xworldsrepos-featured.html">Follow our standards and conventions to become a featured member</a></li>
		</ul>
		</section>
		
		<section name="Other tasks you may need">
		<ul>
		<li><a href="tut-xworldsrepos-closedsource.html">Create a closed source project</a></li>
		<li><a href="tut-xworldsrepos-company.html">Enterprise solutions or non-public projects</a></li>
		<li><a href="tut-xworldsrepos-search.html">Search the repository to find a library</a></li>
		</ul>
		</section>
		
		<p style="text-align:center">[ <a href="tut-lifecycle-deploy.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-xworldsrepos-organization.html">Next</a> ]</p>
		
</body>
</document>