<?xml version="1.0" encoding="UTF-8"?>
<document>
	<properties>
		<author email="mep_eisen@web.de">
			Martin Eisengardt
		</author>

		<title>Maven for PHP - The official repository</title>
		<meta name="keyword" content="apache, maven, php, tutorials"></meta>
	</properties>
	
	<body>
	
		<p style="text-align:center">[ <a href="tut-xworldsrepos-organization.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-xworldsrepos-configure.html">Next</a> ]</p>
		
		<section name="Preamble">
		TODO
		</section>
		
		<p style="text-align:center">[ <a href="tut-xworldsrepos-organization.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-xworldsrepos-configure.html">Next</a> ]</p>
		
</body>
</document>