<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2010-2012 by PHP-maven.org

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
	<properties>
		<title>Maven for PHP - Code Coverage report.</title>
		<author email="martin.eisengardt@googlemail.com">Martin Eisengardt</author>

	</properties>
	
	<head>	
		<title>Maven for PHP - Code Coverage report.</title>
		<meta name="keyword" content="apache, maven, php, php-maven, maven tutorial, php maven tutorial, xdebug, code coverage, php coverage" />		
	</head>
	<body>
		<p style="text-align:center">[ <a href="tut-unittesting.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-selenium.html">Next</a> ]</p>

		<section name="Generating a code coverage report.">
		<p>First ensure that your php installation has an enabled XDebug extension. You can check via phpinfo(). PHP-Maven uses PHPUnit to
		generate code coverage reports. In future versions of PHPUnit this may change.</p>
		
		<p>The code coverage report is part of the site phase. So you need a valid site configuration. The smallest variant is to add a
		build plugin configuration:
		</p>
	<macro name="snippet">
	  <param name="id" value="pom-project-default"></param>
	  <param name="file" value="${phpmavenFsRoot}/src/site/include/pom_sites.xml"></param>
    </macro>
        <p>
        Thats it. The report "phpunit-coverage" will now generate a coverage html report. Now type "mvn site" and view the result in
        "target/site/phpunit/coverage.html".
        </p>
		</section>

		<p style="text-align:center">[ <a href="tut-unittesting.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-selenium.html">Next</a> ]</p>
	</body>

</document>