<?xml version="1.0" encoding="UTF-8"?>
<document>
	<properties>
		<author email="christian.wiedemann@key-tec.de">
			Christian Wiedemann
		</author>
		<!-- texts from Martin Eisengardt -->
		<head>
		<meta name="keyword" content="apache, maven, php"></meta>
		<title>Maven for PHP - The lifecycle</title>
	</head>
	</properties>
	<meta name="keyword" content="apache, maven, php"></meta>
	<body>
		<p style="text-align:center">[ <a href="tutorials.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-lifecycle-creation.html">Next</a> ]</p>
		
		<section name="The lifecylce">
		<p><img src="images/lifecycle.gif"></img> <!-- TODO Lifecycle.gif may need update --></p>
		
			<subsection name="Explained">
			<p>For those being new to maven this may be confusing. In short words: Maven introduces a common lifecycle to projects. Think of the best practice
			everyone in the world uses for own projects even if they do not use maven. You always develop software in phases, for example:</p>
			
			<ul>
			<li>Project creation</li>
			<li>Project development</li>
			<li>Write documentation</li>
			<li>Test project</li>
			<li>Deploy project</li>
			</ul>
			
			<p>With maven you get a tool to manage this project lifecycle. Maven introduces so called goals. Some of them may be self explained. For example
			the goal &quot;compile&quot; may be familiar to you if you have some experience in other compilable languages, for example Java or C#. Those goals being of
			interest for php-maven are explained in details. Simple click through the tutorials:</p>
			
			<ul>
			<li><a href="tut-lifecycle-creation.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Creation</span><br></br>Create the project using archetypes<br></br></a></li>
	        <li><a href="tut-lifecycle-developing.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Developing</span><br></br>Develop your project<br></br></a></li>
	        <li><a href="tut-lifecycle-testing.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Testing</span><br></br>Do unit testing (for details see the unit testing section below)<br></br></a></li>
	        <li><a href="tut-lifecycle-building.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Building</span><br></br>Use and customize the maven build goal<br></br></a></li>
	        <li><a href="tut-lifecycle-documentation.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Documentation</span><br></br>Create project documentation (for details see the documentation section below)<br></br></a></li>
	        <li><a href="tut-lifecycle-deploy.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Deploy</span><br></br>Deploying the project to repositories and servers.<br></br></a></li>
	        </ul>
			</subsection>
		</section>
		
		<p style="text-align:center">[ <a href="tutorials.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-lifecycle-creation.html">Next</a> ]</p>
		
	</body>
</document>