<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2010-2012 by PHP-maven.org

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
	<properties>
		<title>Maven for PHP - Tutorials</title>
		<author email="mep_eisen@web.de">
			Martin Eisengardt
		</author>
	</properties>
	
	<head>
		<title>Maven for PHP - Tutorials</title>
		<meta name="keyword" content="apache, maven, php, php-maven, maven tutorial, php maven tutorial, maven tutorials, php tutorial, php tutorials, php maven tutorials" />		
	</head>
	
	<body>

	<section name="Maven for PHP - Tutorials">
	<p>Welcome to the tutorials pags. Within this page you will find various tutorials showing to get more deeper inside
	&quot;Maven for PHP&quot;. If there is something we are missing please ask at <a href="https://groups.google.com/forum/?fromgroups#!forum/maven-for-php">Google group</a> for help.</p>
	<p><strong>IMPORTANT! These tutorials are related to the version ${phpmavenTagName} of php-maven2. We do not expect changes frequently but there may be
	changes in future versions. Watch the <a href="https://groups.google.com/forum/?fromgroups#!forum/maven-for-php">google group</a> to be notified about incompatible changes.</strong>
	<a name="top" />
	</p>
	
	<ul>
	  <li><a href="#quick-tutorials"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Quick tutorials</span><br></br>Small 5 and 10 minute samples for a quick start.<br></br></a></li>
	  <li><a href="#project-lifecycle"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Project lifecycle</span><br></br>Detailed tutorials explaining the project lifecycle and the maven directory layout.<br></br></a></li>
	  <li><a href="#tools"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Additional tools</span><br></br>Explanation of additional tools used by php-maven.<br></br></a></li>
	  <li><a href="#xworlds-repos"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">The official repository</span><br></br>Explanation about sharing open-source and closed-source projects with the world. Get your private commercial repository.<br></br></a></li>
	  <li><a href="#project-organization"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Project organization</span><br></br>Deeper explanation on how to organize your projects and modules.<br></br></a></li>
	  <li><a href="#ide"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">IDE support</span><br></br>Support for various IDEs.<br></br></a></li>
	  <li><a href="#unit-testing"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Unit testing</span><br></br>How to perform unit tests and get code coverage reports.<br></br></a></li>
	  <li><a href="#documentation"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Documentation</span><br></br>Create and customize your project documentation.<br></br></a></li>
	  <li><a href="#frameworks"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Framework support</span><br></br>Articles about the integration of various frameworks.<br></br></a></li>
	  <li><a href="#configuration"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Configuration</span><br></br>See the configuration options that can be used in your POM.<br></br></a></li>
	</ul>

        <subsection name="Quick tutorials">
        <p>
            Back to <a href="#top">Top</a>
        </p>
        <p>
            <a name="quick-tutorials" />
            The quick tutorials are small samples how to use PHP-Maven. Use them for a quick start. The 5 minute examples do not explain that much.
            If you need some explanation read the 10 minute examples. They contain the same sample but they will explain some things. For deeper
            explanation you should read the <a href="#project-lifecycle">project lifecycle tutorials</a>.
        </p>
        <ul>
		<li><a href="php-lib-5min.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Library (5 minutes)</span><br></br>A small 5 minute example to create a library.<br></br></a></li>
		<li><a href="php-web-5min.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Website (5 minutes)</span><br></br>Create a website project in 5 minutes.<br></br></a></li>
		<li><a href="php-zend-5min.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Zend-Framework (5 minutes)</span><br></br>Create your zend framework web application in 5 minutes.<br></br></a></li>
		<li><a href="php-doctrine-5min.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Doctrine (5 minutes)</span><br></br>Create a doctrine project in 5 minutes.<br></br></a></li>
		<li><a href="php-lib-10min.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Library (10 minutes)</span><br></br>This tutorial contains some deeper explanations for creating library projects.<br></br></a></li>
		<li><a href="php-web-10min.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Website (10 minutes)</span><br></br>This tutorial contains some deeper explanations for creating web projects.<br></br></a></li>
		<li><a href="php-zend-10min.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Zend-Framework (10 minutes)</span><br></br>This tutorial contains some deeper explanations for creating zend framework web application projects.<br></br></a></li>
		</ul>
        </subsection>
        
		<subsection name="Project lifecycle">
        <p>
            Back to <a href="#top">Top</a>
        </p>
        <p>
            <a name="project-lifecycle" />
		    Maven introduces a project lifecycle. Have a look at the tutorials for the most important goals.
		</p>
		<ul>
		<li><a href="tut-lifecycle.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Overview</span><br></br>Read details about maven lifecycles and phpmaven interaction.<br></br></a></li>
		<li><a href="tut-lifecycle-creation.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Creation</span><br></br>Create the project using archetypes<br></br></a></li>
		<li><a href="tut-lifecycle-developing.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Developing</span><br></br>Develop your project<br></br></a></li>
		<li><a href="tut-lifecycle-testing.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Testing</span><br></br>Do unit testing (for details see the unit testing section below)<br></br></a></li>
		<li><a href="tut-lifecycle-building.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Building</span><br></br>Use and customize the maven build goal<br></br></a></li>
		<li><a href="tut-lifecycle-documentation.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Documentation</span><br></br>Create project documentation (for details see the documentation section below)<br></br></a></li>
		<li><a href="tut-lifecycle-deploy.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Deploy</span><br></br>Deploying the project to repositories and servers.<br></br></a></li>
		</ul>
		</subsection>
		
		<subsection name="Additional php-maven tools">
        <p>
            Back to <a href="#top">Top</a>
        </p>
        <p>
            <a name="tools" />
            PHP-Maven offers some additional tools from command line.
        </p>
        <ul>
        <li><a href="tut-tools-phar.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Phar</span><br></br>Tools related to phar files.<br></br></a></li>
        </ul>
		</subsection>

		<subsection name="The official repository">
        <p>
            Back to <a href="#top">Top</a>
        </p>
        <p>
            <a name="xworlds-repos" />
		    The official repository explains the way to become part of the PHP-Maven community. Help us and share your project.
		    You may us the repository services to share open-source and closed-source projects. We even provide a way to get your own personal repository
		    for commercial usage.
		</p>
		<p><b>NOTE: The official repository is available in a later version. If you want to share your work or get support for your company please <a href="mailto:martin.eisengardt@googlemail.com?subject=Repository access">contact us directly</a>.</b></p>
		<ul>
		<li><a href="tut-xworldsrepos.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Overview</span><br></br>Read details on the official repository.<br></br></a></li>
		<li><a href="tut-xworldsrepos-organization.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Managing your organization</span><br></br>Manage your organization (=maven group id).<br></br></a></li>
		<li><a href="tut-xworldsrepos-opensource.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Create an open source module</span><br></br>Create and deploy an open source module.<br></br></a></li>
		<li><a href="tut-xworldsrepos-ci.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Using the CI server</span><br></br>Use the official continuous integration servers.<br></br></a></li>
		<li><a href="tut-xworldsrepos-featured.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Featured projects</span><br></br>Standards and best practices to become a featured community member.<br></br></a></li>
		<li><a href="tut-xworldsrepos-closedsource.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Create a closed source module</span><br></br>Closed source modules for your company.<br></br></a></li>
		<li><a href="tut-xworldsrepos-company.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Commercial and company solutions</span><br></br>Private closed repositories and commercial solutions for your company.<br></br></a></li>
		<li><a href="tut-xworldsrepos-search.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Find and watch</span><br></br>Perform a search to find projects and watch for new versions.<br></br></a></li>
		</ul>
		</subsection>

		<subsection name="Project organization">
        <p>
            Back to <a href="#top">Top</a>
        </p>
        <p>
            <a name="project-organization" />
		    These tutorials are getting more deeper inside maven and PHP-Maven. They explain various aspects you may face.
		</p>
		<ul>
		<li><a href="tut-add3partylibs.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">3rd party libraries - How to install</span><br></br>The tutorial will help you to install 3rd party PHP libraries.<br></br></a></li>
		<li><a href="tut-multiprojectlayout.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Multi-Project Layout</span><br></br>Handling multiple projects and parent poms.<br></br></a></li>
		<li><a href="tut-dependencymanagement.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Managing dependencies - include path, unpacking and bootstraps</span><br></br>A way to manage the dependency resolution and let maven help you.<br></br></a></li>
		<li><a href="tut-pear.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Using PEAR projects (upcomming...)</span><br></br>Integrating dependencies to PEAR projects.<br></br></a></li>
		<li><a href="tut-customizing.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Customizing (upcomming...)</span><br></br>Customizing php-maven/ useful configuration options.<br></br></a></li>
		</ul>
		</subsection>
 
		<subsection name="IDE">
        <p>
            Back to <a href="#top">Top</a>
        </p>
        <p>
            <a name="ide" />
		    IDE support.
		</p>
		<ul>
		<li><a href="tut-usingeclipse.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Using eclipse</span><br></br>Setup and use eclipse for your projects.<br></br></a></li>
		</ul>
		</subsection>
 
		<subsection name="Unit testing">
        <p>
            Back to <a href="#top">Top</a>
        </p>
        <p>
            <a name="unit-testing" />
		    Some tutorials for unit testing.
		</p>
		<ul>
		<li><a href="tut-unittesting.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Fast unit testing</span><br></br>The tutorial will show you how to run unit tests quickly.<br></br></a></li>
		<li><a href="tut-codecoverage.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Code coverage using xdebug (upcomming...)</span><br></br>Using xdebug to generate code coverage reports.<br></br></a></li>
		<li><a href="tut-selenium.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Selenium (upcomming...)</span><br></br>Integrate selenium test cases.<br></br></a></li>
		<li><a href="tut-simpletest.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Simpletest (upcomming...)</span><br></br>Using simpletest instead of phpunit.<br></br></a></li>
		</ul>
		</subsection>

		<subsection name="Documentation">
        <p>
            Back to <a href="#top">Top</a>
        </p>
        <p>
            <a name="documentation" />
		    Tutorials and links that explain the creation of your project site/ project documentation.
		</p>
		<ul>
		<li><a href="http://www.javaworld.com/javaworld/jw-02-2006/jw-0227-maven.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Get the most out of Maven 2 site generation</span><br></br>A good starting point is to study the Maven documentation.</a></li>
		<li><a href="tut-documentation.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Create your documentation</span><br></br>Create PHP documentation</a></li>
		</ul>
		</subsection> 

		<subsection name="Frameworks">
        <p>
            Back to <a href="#top">Top</a>
        </p>
        <p>
            <a name="frameworks" />
		    Articles about framework integration.
		</p>
		<ul>
		<li><a href="tut-zendframework.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Zend Framework</span><br></br>Creating a zend framework project.</a></li>
		<li><a href="tut-flow3.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Flow3 (upcomming...)</span><br></br>Creating a flow3 framework project.</a></li>
		</ul>
		</subsection> 

		<subsection name="Configuration">
        <p>
            Back to <a href="#top">Top</a>
        </p>
        <p>
            <a name="configuration" />
		    Explanation of the configuration options.
		</p>
		<ul>
		<li><a href="configuration.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Overview</span><br></br>Overview of configuration.</a></li>
		</ul>
		</subsection> 

	</section>
	
</body>
</document>