<?xml version="1.0" encoding="UTF-8"?>
<document>
	<properties>
		<author email="mep_eisen@web.de">
			Martin Eisengardt
		</author>

		<title>Maven for PHP - Tutorials</title>
		<meta name="keyword" content="apache, maven, php, tutorials"></meta>
	</properties>
	
	<body>

	<section name="Maven for PHP - Tutorials">
	<p>Welcome to the tutorials pags. Within this page you will find various tutorials showing to get more deeper inside
	&quot;Maven for PHP&quot;. If there is something we are missing please ask at <a href="https://groups.google.com/forum/?fromgroups#!forum/maven-for-php">Google group</a> for help.</p>
	<p><strong>IMPORTANT! These tutorials are related to the version ${phpmavenTagName} of php-maven2. We do not expect changes frequently but there may be
	changes in future versions. Watch the <a href="https://groups.google.com/forum/?fromgroups#!forum/maven-for-php">google group</a> to be notified about incompatible changes.</strong></p>

		<subsection name="Project lifecycle">
		<p>Maven introduces a project lifecycle. Have a look at the tutorials for the most important goals.</p>
		<ul>
		<li><a href="tut-lifecycle.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Overview</span><br></br>Read details about maven lifecycles and phpmaven interaction.<br></br></a></li>
		<li><a href="tut-lifecycle-creation.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Creation</span><br></br>Create the project using archetypes<br></br></a></li>
		<li><a href="tut-lifecycle-developing.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Developing</span><br></br>Develop your project<br></br></a></li>
		<li><a href="tut-lifecycle-testing.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Testing</span><br></br>Do unit testing (for details see the unit testing section below)<br></br></a></li>
		<li><a href="tut-lifecycle-building.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Building</span><br></br>Use and customize the maven build goal<br></br></a></li>
		<li><a href="tut-lifecycle-documentation.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Documentation</span><br></br>Create project documentation (for details see the documentation section below)<br></br></a></li>
		<li><a href="tut-lifecycle-deploy.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Deploy</span><br></br>Deploying the project to repositories and servers.<br></br></a></li>
		</ul>
		</subsection>

		<subsection name="The official repository">
		<ul>
		<li><a href="tut-xworldsrepos.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Overview</span><br></br>Read details on the official repository.<br></br></a></li>
		<li><a href="tut-xworldsrepos-organization.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Managing your organization</span><br></br>Manage your organization (=maven group id).<br></br></a></li>
		<li><a href="tut-xworldsrepos-opensource.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Create an open source module (upcomming...)</span><br></br>Create and deploy an open source module.<br></br></a></li>
		<li><a href="tut-xworldsrepos-configure.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Configure deployment (upcomming...)</span><br></br>Configure deployment into the repository.<br></br></a></li>
		<li><a href="tut-xworldsrepos-ci.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Using the CI server (upcomming...)</span><br></br>Use the official continuous integration servers.<br></br></a></li>
		<li><a href="tut-xworldsrepos-featured.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Featured projects (upcomming...)</span><br></br>Standards and best practices to become a featured community member.<br></br></a></li>
		<li><a href="tut-xworldsrepos-closedsource.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Create a closed source module (upcomming...)</span><br></br>Closed source modules for your company.<br></br></a></li>
		<li><a href="tut-xworldsrepos-company.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Commercial and company solutions (upcomming...)</span><br></br>Private closed repositories and commercial solutions for your company.<br></br></a></li>
		<li><a href="tut-xworldsrepos-search.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Find and watch (upcomming...)</span><br></br>Perform a search to find projects and watch for new versions.<br></br></a></li>
		</ul>
		</subsection>

		<subsection name="Project organization">
		<ul>
		<li><a href="tut-add3partylibs.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">3rd party libraries - How to install</span><br></br>The tutorial will help you to install 3rd party PHP libraries.<br></br></a></li>
		<li><a href="tut-multiprojectlayout.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Multi-Project Layout (upcomming...)</span><br></br>Handling multiple projects and parent poms.<br></br></a></li>
		<li><a href="tut-usingeclipse.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Using eclipse</span><br></br>Setup and use eclipse for your projects.<br></br></a></li>
		<li><a href="tut-dependencymanagement.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Managing dependencies - include path, unpacking and bootstraps</span><br></br>A way to manage the dependency resolution and let maven help you.<br></br></a></li>
		<li><a href="tut-pear.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Using PEAR projects (upcomming...)</span><br></br>Integrating dependencies to PEAR projects.<br></br></a></li>
		<li><a href="tut-customizing.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Customizing (upcomming...)</span><br></br>Customizing php-maven/ useful configuration options.<br></br></a></li>
		</ul>
		</subsection>
 
		<subsection name="Unit testing">
		<ul>
		<li><a href="tut-unittesting.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Fast unit testing</span><br></br>The tutorial will show you how to run unit tests quickly.<br></br></a></li>
		<li><a href="tut-codecoverage.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Code coverage using xdebug (upcomming...)</span><br></br>Using xdebug to generate code coverage reports.<br></br></a></li>
		<li><a href="tut-selenium.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Selenium (upcomming...)</span><br></br>Integrate selenium test cases.<br></br></a></li>
		<li><a href="tut-simpletest.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Simpletest (upcomming...)</span><br></br>Using simpletest instead of phpunit.<br></br></a></li>
		</ul>
		</subsection>

		<subsection name="Documentation">
		<ul>
		<li><a href="http://www.javaworld.com/javaworld/jw-02-2006/jw-0227-maven.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Get the most out of Maven 2 site generation</span><br></br>A good starting point is to study the Maven documentation.</a></li>
		<li><a href="tut-documentation.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Create your documentation</span><br></br>Create PHP documentation</a></li>
		</ul>
		</subsection> 

		<subsection name="Frameworks">
		<ul>
		<li><a href="tut-zendframework.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Zend Framework</span><br></br>Creating a zend framework project.</a></li>
		<li><a href="tut-flow3.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Flow3 (upcomming...)</span><br></br>Creating a flow3 framework project.</a></li>
		</ul>
		</subsection> 

	</section>
</body>
</document>