<?xml version="1.0" encoding="UTF-8"?>
<document>
	<properties>
		<author email="christian.wiedemann@key-tec.de">
			Christian Wiedemann
		</author>
		<author email="martin.eisengardt@googlemail.com">
			Martin Eisengardt
		</author>

		<title>About us</title>
		<meta name="keyword" content="apache, maven, php"></meta>
	</properties>
	
	<body>

<section name="About us">

<p>
  PHP Maven is currently a private project. The donations are used to pay the servers.
  This might change in future. The taxes for donations are payed in Germany.
</p>

<p>
  Responsible for the content (current developer lead):<br></br>
  Martin Eisengardt<br></br>
  Schuetzenstrasse 1<br></br>
  76327 Pfinztal<br></br>
  - Germany -
</p>

<p>
  You can use the following email address to contact the php-maven team:<br></br>
  <a href="mailto:info@php-maven.org">info@php.maven.org</a>.
  However: Please do not spam. Thanks.
</p>

<p>
  You can choose to contact a single team member. Visit the <a href="team-list.html">team</a> site.
</p>

</section>

<section name="Disclaimer">
  Although we check some of the commits and links we are not responsible for any link that is leading to a location
  outside the php-maven domains. There is no warranty for php-maven to work correctly. However if you need some
  additional warranty please contact us. We are only responsible for our own modules, located at maven group id &quot;org.phpmaven&quot;.
  All other modules are maintained by external persons and we call them third party modules. If there is any problem
  related to third party modules you should inform us and you must always contact the original module author.
</section>

<section name="Cookies">
  We are using google site analytics that may use cookies. See the google guidelines for details. The site analytics helps
  us to messure some useful metrics on our web site. Notice: The data will be anonym. There is no way to us getting details
  on your person. The website may place a session cookie to identify you after login or to identify you as an anonymous (guest)
  user. As long as you do not login you will be always anonymous for us.
</section>
</body>
</document>