<?xml version="1.0" encoding="UTF-8"?>
<document>
	<properties>
		<author email="christian.wiedemann@key-tec.de">
			Christian Wiedemann
		</author>
		<author email="martin.eisengardt@googlemail.com">
			Martin Eisengardt
		</author>

		<title>Help wanted</title>
		<meta name="keyword" content="apache, maven, php"></meta>
	</properties>
	
	<body>

<section name="Help wanted">

<p>
  There is many work to be done. We need java developers (with or without maven experience), php developers, documentation writers and translators, testers.
  And of course we need your feedback. Ask on the <a href="https://groups.google.com/forum/?fromgroups#!forum/maven-for-php">google groups</a> for details.
</p>

</section>

<script src="http://www.google-analytics.com/ga.js" type="text/javascript"></script>
<script type="text/javascript">
var pageTracker = _gat._getTracker(&apos;UA-5308244-1&apos;);
pageTracker._trackPageview();
</script>
</body>
</document>