<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2010-2012 by PHP-maven.org

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
	<properties>
		<title>Help wanted</title>
		
		<author email="christian.wiedemann@key-tec.de">Christian Wiedemann</author>
		<author email="martin.eisengardt@googlemail.com">Martin Eisengardt</author>
	</properties>
	
	<body>

<section name="Help wanted">

<p>
  There is many work to be done. We need java developers (with or without maven experience), php developers, documentation writers and translators, testers.
  And of course we need your feedback. Ask on the <a href="https://groups.google.com/forum/?fromgroups#!forum/maven-for-php">google groups</a> for details.
  Every contribution must sign a small contract. Why do we use it? The answer is simple: At first we must ensure that this project is ready for the feature.
  That means: If we need to change the license we do not want to ask every single developer for this task. The project lead will decide what license is chosen
  (as long as this is an open source project). And of course there is dual licensing. It means we are not only providing an open source license but a
  commercial license for companies too.
</p>

<p>
  Notice: Each contributor must sign a contribution license agreement. See <a href="license.html">the license</a> for details.
</p>

</section>

</body>
</document>