<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2010-2012 by PHP-maven.org

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
	<properties>
		<title>Welcome to Maven for PHP</title>
		<author email="christian.wiedemann@key-tec.de">Christian Wiedemann</author>
		<author email="martin.eisengardt@googlemail.com">Martin Eisengardt</author>
	</properties>
	
	<head>
		<title>Welcome to Maven for PHP</title>
		<meta name="keyword" content="apache, maven, php, phpmaven, continuous integration, build tool, deploy, install" />
	</head>
	
	<body>

<section name="Welcome to Maven for PHP">
<p>PHP-Maven uses the power of Maven 3 for building, reporting on and creating documentations of PHP projects.
It adapts the Maven build lifecycle to the PHP world while fully supporting PHP 5. PHP-Maven uses <a href="http://www.phpunit.de/" target="_blank"><b>PHPUnit</b></a>
for unit testing and <a href="http://www.phpdoc.org/" target="_blank"><b>phpDocumentor</b></a> for creating the project documentation.</p>

<p>Follow us:
<script type="text/javascript" src="http://www.ohloh.net/p/480423/widgets/project_thin_badge.js"></script>

<a href="https://twitter.com/#!/mepeisen"><img border="0" src="images/logo_twitter_withbird_1000_allblue.png" height="23" width="125" alt="twitter" /></a>

<a href="http://www.facebook.com/#!/pages/PHP-Maven/307992255933064"><img border="0" src="images/f_logo.png" height="24" width="24" alt="facebook" /></a>
</p>

<p>Use a <i>PHP library project</i> to create a library that can be used by other PHP libraries or PHP web projects. Use a <i>PHP web project</i> to create
a standalone web project. Or use the several <i>well known frameworks</i> for your project.</p>

<p>
    <b>Latest stable:</b> <a href="tags/${phpmavenLatestRelease}/index.html">${phpmavenLatestRelease}</a><br />
    <b>Latest snapshot:</b> <a href="branches/${phpmavenLatestSnapshot}/index.html">${phpmavenLatestSnapshot}</a><br />
</p> 

<subsection name="Getting started">
<p>
These links will help you getting started with PHP-Maven.
</p>

<p><b>First steps for working with Maven</b></p>
<ul>
<li><a href="migration-1x.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Migration from PHP-Maven 1.x</span><br></br>PHP-Maven Version 1 is no longer supported. Visit this site if you already used PHP-Maven in the past years.</a></li>
<li><a href="http://maven.apache.org/download.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Download Maven 3</span><br></br>First, download and install Maven 3.</a></li>
<li><a href="http://maven.apache.org/guides/getting-started/maven-in-five-minutes.html">
<span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Learn about Maven</span><br></br>Having finished with Maven installation, learn about the Maven basics.</a></li>
</ul>

<p><b>Then learn about &quot;PHP-Maven&quot;.</b></p>
<ul>
<li><a href="prepare.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Prepare Maven for PHP</span><br></br>Prepare the Maven configuration to be able to use &quot;Maven for PHP&quot;.</a></li>
<li><a href="branches/${phpmavenLatestSnapshot}/php-lib-5min.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">PHP library project - 5 minutes starter guide</span><br></br>Use the PHP library archetype for PHP libraries. These libraries can be used by other libraries or by PHP web projects.<br></br></a></li>
<li><a href="branches/${phpmavenLatestSnapshot}/php-web-5min.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">PHP web project - 5 minutes starter guide</span><br></br>Use the PHP web archetype for PHP web projects. Use PHP libraries as dependencies.<br></br></a></li>
<li><a href="branches/${phpmavenLatestSnapshot}/tutorials.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Tutorials</span><br></br>Have a look at the tutorials to get more deeper inside &quot;Maven for PHP&quot;.<br></br></a></li>

</ul>

</subsection>
<subsection name="Getting support">
<p>For community users and open sourced:</p>
<ul>
<li><a href="faq.html"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Go to the faq page.</span></a></li>
<li><a href="https://groups.google.com/forum/?fromgroups#!forum/maven-for-php"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Join google group</span></a><br></br></li>
<li><a href="http://trac.php-maven.org/"><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Visit the trac (requires registration)</span></a><br></br></li>
</ul>
<p><b>For companies and closed sourced/ non public support:</b> See the <a href="support.html">support</a> page for details.</p>
</subsection> 
<subsection name="Features">
<ul>
<li><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Own Maven lifecycle for PHP</span></li>
<li><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Supports PHP 5</span></li>
<li><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Archetypes for various project types</span></li>
<li><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Supports PHPUnit</span></li>
<li><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Supports PHPDocumentor</span></li>
<li><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Produces PHARs</span></li>
<li><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Eclipse-Support</span></li>
<li><span style="white-space: nowrap; font-weight: bold; font-size: 1.25em;">Huge repository with ten thousands of well known projects/versions</span></li></ul>
</subsection> 
</section>
</body>
</document>