<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2010-2012 by PHP-maven.org

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
	<properties>
		<title>Prepare Maven for PHP</title>
		
		<author email="christian.wiedemann@key-tec.de">Christian Wiedemann</author>
		<author email="martin.eisengardt@googlemail.com">Martin Eisengardt</author>
	</properties>
	
	<head>
		<title>Prepare Maven for PHP</title>
		<meta name="keyword" content="apache, maven, php, plugin, install phpmaven, download phpmaven, repository, phpmaven repository, maven repository, phar, php library, php libraries, php prepare, php maven prepare, php install, php installation" />
	</head>
	
	<body>
		<section name="Prepare Maven 3 for PHP for Maven">
		<subsection name="Requirements">
		<ul>
		<li>
		<a href="http://maven.apache.org">Maven 3</a>
		</li>
		<li>
		<a href="http://www.php.net">php</a>
		</li>
		<li>
		<a href="http://www.phpdoc.org/">phpdocumentor</a>
		</li>
		</ul>
		</subsection>
		<subsection name="PHP">
		<p>Ensure that PHP and pear executables are found via PATH variable. Ensure that the requirements are installed correctly.
		We need at least PHP 5.2.0 because of built in phar-support. See <a href="http://www.php.net/manual/en/phar.requirements.php">The php manual</a>
		for details. Due to some bugs on PHAR support you should use the newest php version.</p>
		</subsection>
		<subsection name="Prepare Maven 3">
<p>First, <a href="http://maven.apache.org/download.html">download Maven</a> and follow the <a href="http://maven.apache.org/run-maven/index.html#Quick_Start">installation instructions.</a>
Then, go to the settings.xml (~/.m2 on Unix/Mac OS X and C:\Documents and Settings\username\.m2 on Windows) and add the PHP for Maven repository. If there is no settings.xml you must create the settings.xml file first. 
<macro name="snippet">
<param name="id" value="settings"></param>
<param name="file" value="${phpmavenFsRoot}/src/site/include/settings.xml"></param>
</macro></p>
<p>
NOTICE: The snapshots of the maven plugins are not present in the public repository. You should never depend on snapshots of maven build plugins.
If you want to try out snapshots you need to add repository <a href="http://nexus.php-maven.org/content/repositories/php-maven-plugin-snapshots">http://nexus.php-maven.org/content/repositories/php-maven-plugin-snapshots</a>
to your settings.xml. 
</p>
<p>
Finally, your php.exe must be part of the system path.
</p> 
</subsection>
</section>
	</body>
</document>