<?xml version="1.0" encoding="UTF-8"?>
<document>
	<properties>
		<author email="christian.wiedemann@key-tec.de">
			Christian Wiedemann
		</author>
		<author email="martin.eisengardt@googlemail.com">
			Martin Eisengardt
		</author>

		<title>Feeds</title>
		<meta name="keyword" content="apache, maven, php"></meta>
	</properties>
	
	<body>

<section name="Feeds">

<p>
  There are various feeds you can subscribe. You can use them to get the latest news.
</p>

<p>
  <b><a href="http://www.php-maven.org/rss.xml">Website Feed (RSS)</a></b>: Will report new version tags, will contain the latest major changes in
  documentation and major project news.
</p>

<p>
  <b><a href="https://groups.google.com/group/maven-for-php/feed/rss_v2_0_msgs.xml">Google groups messages (RSS)</a></b>: Will contain the newest 15
  posts at the google group.
</p>

<p>
  <b><a href="https://groups.google.com/group/maven-for-php/feed/rss_v2_0_topics.xml">Google groups topics (RSS)</a></b>: Will contain the newest 15
  topics at the google group.
</p>

<p>
  <b><a href="https://github.com/php-maven/maven-php-plugin/commits/master.atom">Source commits (Atom)</a></b>: Will contain the source code commits.
</p>

</section>
</body>
</document>