<?xml version="1.0" encoding="UTF-8"?>
<document>
	<properties>
		<author email="christian.wiedemann@key-tec.de">
			Christian Wiedemann
		</author>
		<author email="martin.eisengardt@googlemail.com">
			Martin Eisengardt
		</author>

		<title>Usage</title>
		<meta name="keyword" content="apache, maven, php"></meta>
	</properties>
	
	<body>

<section name="Usage">

<p>
  For those already being familiar with maven: Nothing changed. :-)
</p>

<p>
  If you are not familiar with maven (We think many of php developers do not yet have maven experience):
  The most important command at command line is &quot;mvn&quot;. It tells maven that you got something to do.
  You will have to invoke it at your projects root directory (the place where the pom.xml file is located).
  We are explaining it in the <a href="${phpmavenRootUrl}/branches/${phpmavenLatestSnapshot}/tutorials.html">tutorials section</a>.
</p>

</section>
</body>
</document>