<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2010-2012 by PHP-maven.org

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
	<properties>
		<title>${phpmavenTagName} Index</title>
		
		<author email="mep_eisen@web.de">Martin Eisengardt</author>
	</properties>
	
	<body>

	<section name="${phpmavenTagName} Index">
	<ul>
	<li><a href="php-lib-5min.html">Library project (quickstart)</a></li>
	<li><a href="php-web-5min.html">Web project (quickstart)</a></li>
	<li><a href="configuration.html">Configuration</a></li>
	<li><a href="tutorials.html">Tutorials</a></li>
	<li><a href="surefire-report.html">Test results</a></li>
	<li><a href="maven-php-plugin/plugin-info.html">Mojo report</a></li>
	<li><a href="developer.html">Developer infos</a></li>
	</ul>
	</section>
	
	<section name="milestone plan">
	<ul>
	<li><a href="http://trac.php-maven.org/query?status=assigned&amp;status=new&amp;status=accepted&amp;status=reopened&amp;group=status&amp;milestone=2.0.3">2.0.3</a></li>
	<li><a href="http://trac.php-maven.org/query?status=assigned&amp;status=new&amp;status=accepted&amp;status=reopened&amp;group=status&amp;milestone=2.1">2.1</a></li>
	<li><a href="http://trac.php-maven.org/query?status=assigned&amp;status=new&amp;status=accepted&amp;status=reopened&amp;group=status&amp;milestone=x.x">x.x (> 2.1)</a></li>
	</ul>
	</section>
	
	<section name="release notes for 2.0.3">
	<ul>
	<li><a href="http://trac.php-maven.org/ticket/92">Trac #92</a>: performance speedup for dependency extraction.</li>
	<li><a href="http://trac.php-maven.org/ticket/92">Trac #92</a>: performance speedup for lint check.</li>
	<li>new goals for command line: <a href="tut-tools-include.html">print-include-path and print-test-include-path</a></li>
	<li>documentation on <a href="tut-tools-exec.html">exec</a> goal for executing php scripts</li>
	<li><a href="http://trac.php-maven.org/ticket/78">Trac #78</a>: managing dependencies: <a href="tut-dependencybootstrap.html">bootstrap action</a>.</li>
	<li><a href="http://trac.php-maven.org/ticket/78">Trac #78</a>: Setting <a href="tut-dependencydefaults.html">default actions</a>.</li>
	<li><a href="http://trac.php-maven.org/ticket/98">Trac #98</a>: Setting alias on packaged phar.</li>
	<li><a href="http://trac.php-maven.org/ticket/95">Trac #95</a>: PHPUnit site report counts reports more than once.</li>
	<li><a href="http://trac.php-maven.org/ticket/13">Trac #13</a>: Base Framework support. See <a href="tut-features.html">the tutorial article for details</a>. Some features will be available in the next 2.0.x releases.</li>
	<li><a href="tut-dependencynative.html">Dependency management for php natives and php extensions</a> (yet non functional).</li>
	<li><a href="tut-setup-hudson.html">Tutorial page for setup a hudson CI</a></li>
	<li><a href="tut-setup-nexus.html">Tutorial page for setup a nexus repository server</a></li>
	<li>phpunit reports php warnings as test errors</li>
	<li>TODO: build failure in multi project pom</li>
	<li>TODO: Trac#106 Patch to disable phar file creation</li>
	<li>TODO: Trac#107 Selenium/ integration tests</li>
	<li>TODO: Trac#108 Multi-Pom-Issue</li>
	</ul>
	</section>
</body>
</document>