<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2010-2012 by PHP-maven.org

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
	<properties>
		<title>Maven for PHP doctrine framework applications - 5 minutes starter guide</title>
		<author email="christian.wiedemann@key-tec.de">Christian Wiedemann</author>
		<author email="martin.eisengardt@googlemail.com">Martin Eisengardt</author>
		<author email="erik.dannenberg@bbe-consulting.de">Erik Dannenberg</author>

	</properties>
	
	<head>
		<title>Maven for PHP doctrine framework applications - 5 minutes starter guide</title>
		<meta name="keyword" content="apache, maven, php, php-maven, php maven, php doctrine, doctrine, maven doctrine, php maven doctrine, doctrine library, doctrine development, doctrine tutorial, maven tutorial" />
	</head>
	
	<body>
		<section name="PHP doctrine projects - 5 minutes starter guide">
			<subsection name="Create a project">
			<p>
			First, prepare Maven and follow the <a href="${phpmavenRootUrl}/prepare.html">preparation instructions.</a><br></br>
			Next, type the following Maven goal in your command line and execute it:</p>
<source> 			
mvn archetype:generate \
-DarchetypeGroupId=org.phpmaven \
-DarchetypeArtifactId=php5-doctrine-archetype \
-DarchetypeVersion=${phpmavenTagName} \
-DgroupId=org.sample \
-DartifactId=my-app \
-Dversion=0.0.1-SNAPSHOT
			</source>
			<p>After some time maven will ask to confirm the parameters. The result will look like this:</p>
			<source>
my-app 
	|-- pom.xml 
	`-- src 
		`-- main 
			 |-- php 
			 |  `-- bootstrap_doctrine.php
			 |  `-- bootstrap.php
			 |  `-- cli-config.php
			 |  `-- cli-tools.php
			 |  |-- MyApp
			 |  |    `-- Entities
			 |  |         `-- MyModel.php
			 |  `-- my-app.php
			 `-- resources
			    `-- config
			         `-- doctrine.ini
			</source>
			
			<ul>
			<li><b>src/main/php/lib</b> - contains the project source code</li>
			<li><b>src/main/php/resources</b> - contains the additional resources; all non-php files like yaml, xml, etc</li>
			<li><b>src/test/php</b> - contains the test source code</li>
			<li><b>pom.xml</b> The project&apos;s Project Object Model, or POM, looks like this:</li>
			</ul>
			
		</subsection>
		<subsection name="The POM">
		<p>
<macro name="snippet">
<param name="id" value="pom"></param>
<param name="file" value="${phpmavenFsRoot}/src/site/include/pom_doctrine.xml"></param>
</macro></p>
		</subsection>
		<subsection name="What have I just done?">
			<p>What have I just done?</p>
			<p>You have just executed the Maven goal archetype:generate and passed
			various parameters to that goal. The prefix archetype is
			the plugin containing the goal.
			This goal created a default project structure for your PHP project.</p>
		</subsection>
		<subsection name="Build the project">
			<p>Switch to your sample project directory</p> 
			<source>cd my-app</source>
			<p>and run:</p>  
			<source>mvn package</source>
			<p>The command line will print out various actions, ending with the following:</p>
			<source>
 ...
[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESSFUL
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 6 seconds
[INFO] Finished at: Thu Jul 20 19:15:06 CDT 2008
[INFO] Final Memory: 3M/6M
[INFO] ------------------------------------------------------------------------			
			</source>
<p>Maven has created a phar package under the project&apos;s target folder.</p>  		
		</subsection>
		<subsection name="What has Maven done?">
		<p>
		
	&quot;Maven for PHP&quot; validates the PHP code with the php.exe, runs PHPUnit tests, and creates a phar for the web project.</p>
		</subsection>
		<subsection name="Setup the database schema">
		<p>
		   Your project is almost ready to run now, all that is left is creating the database schema, switch to the unified app root <source>cd target/classes</source>.
		   Now run <source>php cli-tools.php orm:schema-tool:create</source>
		   The default profile is configured to use sqlite as database so no further configuration is needed.
		   A sample configuration for mysql can be found in the production profile. To activate the profile
		   when building the project use <source>mvn package -Pproduction</source>
		</p>
		</subsection>
		<subsection name="Run the app">
		<p>
		  We can now run the app with <source>php my-app.php</source>
		</p>
		</subsection>
		<subsection name="Documentation">
		<p>
		Go to the <a href="documentation.html">&quot;Documentation&quot; section.</a>
		</p> 
		</subsection>
		</section>
	</body>
</document>