<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2010-2012 by PHP-maven.org

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
	<properties>
		<title>Maven for PHP - Fast unit testing.</title>
		<author email="christian.wiedemann@key-tec.de">Christian Wiedemann</author>

	</properties>
	
	<head>	
		<title>Maven for PHP - Fast unit testing.</title>
		<meta name="keyword" content="apache, maven, php, php-maven, maven tutorial, php maven tutorial, maven test, mvn test, php test, phpunit, maven phpunit, maven php test, php testing, maven testing" />		
	</head>
	<body>
		<p style="text-align:center">[ <a href="tut-usingeclipse.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-codecoverage.html">Next</a> ]</p>

		<section name="The fastest way to run an unit test.">
		<p>The fastest way is to call the phpunit goal directly.</p> 
		<source>
			mvn org.phpmaven:maven-php-plugin:phpunit -DtestFile=src/main/php/someTest.php -DflushPHPOutput=true
		</source>
		
		<p>For details see the <a href="tut-lifecycle-testing.html">testing tutorial</a>.</p>
		</section>
		
		<section>
		<p>
		One of the most important things you should remember when writing unit tests: php-maven does not support any auto-loading.
		Many frameworks need an auto-loader to find the test classes. In PHPUnit you need a bootstrap script right to enable autoloading.
		First of all write a bootstrap script that performs any actions you need, let us say in src/test/php/bootstrap.php (<b>this may not be
		the same script than your regular bootstrap loader/ index.php script of a web project</b>).
		</p>
		<p>After establishing the auto loading put a configuration of the maven-php-phpunit plugin inside your pom.xml:
		</p>
	<macro name="snippet">
	  <param name="id" value="pom-phpunit-default"></param>
	  <param name="file" value="${phpmavenFsRoot}/src/site/include/pom_config_example.xml"></param>
    </macro>
        <p>Or another variant if you like:
        </p>
	<macro name="snippet">
	  <param name="id" value="pom-phpunit-default2"></param>
	  <param name="file" value="${phpmavenFsRoot}/src/site/include/pom_config_example.xml"></param>
    </macro>
		</section>

		<p style="text-align:center">[ <a href="tut-usingeclipse.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-codecoverage.html">Next</a> ]</p>
	</body>

</document>