<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2010-2012 by PHP-maven.org

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
	<properties>
		<title>Maven for PHP - Execute php scripts</title>
		<author email="mep_eisen@web.de">Martin Eisengardt</author>
	</properties>
	
	<head>
		<title>Maven for PHP - Execute php scripts</title>
		<meta name="keyword" content="apache, maven, php, php-maven, maven tutorial, php maven tutorial, php repository, maven repository, maven support, php support, php maven support" />		
	</head>
	
	<body>
	
		<p style="text-align:center">[ <a href="tut-tools-include.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-xworldsrepos.html">Next</a> ]</p>
		
		<section name="Preamble">
		<p>Php-maven can execute php scripts by using the configuration options and include paths of your php project.</p>
		</section>
		
		<section name="Execute a script">
		<p>To execute a script use the following command:</p>
<source>
mvn -DphpFile=foo.php org.phpmaven:maven-php-plugin:${phpmavenTagName}:exec
</source>
		<p>You will get an output similar to the following:</p>
<source>
[INFO] Scanning for projects...
[INFO]                                                                         
[INFO] ------------------------------------------------------------------------
[INFO] Building Sample PHP 5 library project 0.0.1
[INFO] ------------------------------------------------------------------------
[INFO] 
[INFO] --- maven-php-plugin:2.0.3-SNAPSHOT:exec (default-cli) @ test-oktests ---
[INFO] Executing php: "C:\myproject\foo.php"
[INFO] Result:
Hello World from foo.php :-)
[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESS
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 10.292s
[INFO] Finished at: Sun Sep 16 21:52:55 CEST 2012
[INFO] Final Memory: 11M/166M
[INFO] ------------------------------------------------------------------------
</source>
		</section>
		
		<section name="The include paths">
		<p>You can use the test include path by setting the testIncludePath argument:</p>
<source>
mvn -DphpFile=foo.php -DtestIncludePath=true org.phpmaven:maven-php-plugin:${phpmavenTagName}:exec
</source>
		<p>You can even remove any include path of your project by setting compileIncludePath to false:</p>
<source>
mvn -DphpFile=foo.php -DcompileIncludePath=false org.phpmaven:maven-php-plugin:${phpmavenTagName}:exec
</source>
		</section>
		
		<section name="Print to file">
		<p>You can choose to write your output to a file:</p>
<source>
mvn -DphpFile=foo.php -phpOutToFile=output.txt org.phpmaven:maven-php-plugin:${phpmavenTagName}:exec
</source>
		</section>
		
		<p style="text-align:center">[ <a href="tut-tools-include.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-xworldsrepos.html">Next</a> ]</p>
		
</body>
</document>