<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2010-2012 by PHP-maven.org

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
	<properties>
		<title>Maven for PHP - The official repository</title>
		<author email="mep_eisen@web.de">Martin Eisengardt</author>
	</properties>
	
	<head>
		<title>Maven for PHP - The official repository</title>
		<meta name="keyword" content="apache, maven, php, php-maven, maven tutorial, php maven tutorial, php library, php maven search, php maven repository, php repository, maven repository" />		
	</head>
	
	<body>
	
		<p style="text-align:center">[ <a href="tut-xworldsrepos-company.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-add3partylibs.html">Next</a> ]</p>
		
		<section name="Preamble">
		<p><b>NOTE: The official repository is available in a later version. If you want to share your work or get support for your company please <a href="mailto:martin.eisengardt@googlemail.com?subject=Repository access">contact us directly</a>.</b></p>
		
		<p>
		Searching for a module is not that difficult as it seems. There are two search scenarios we support.
		</p>
		
		<!-- <p>TODO Screenshots</p> -->
		</section>
		
		<section name="Search for a single module">
		<p>
		If you already know some good search string of a module name or similar thing you can use our <a href="http://nexus.php-maven.org/">nexus</a>.
		Go to the website and enter your search string. For example you may search for "zend-framework" or for "PHPUnit". It will display the
		search results and the modules immediatly.
		</p>
		</section>
		
		<section name="Search for a featured project">
		<p>
		At our <a href="http://catalog.xworlds.org/">xWorlds catalog</a> you will be able to browse for several categories and topics. If you are
		not for sure how a module is called you should go there and browse the specific category.
		</p>
		</section>
		
		<p style="text-align:center">[ <a href="tut-xworldsrepos-company.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-add3partylibs.html">Next</a> ]</p>
		
</body>
</document>