<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2010-2012 by PHP-maven.org

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
	<properties>
		<title>Maven for PHP - The official repository</title>
		<author email="mep_eisen@web.de">Martin Eisengardt</author>
	</properties>
	
	<head>
		<title>Maven for PHP - The official repository</title>
		<meta name="keyword" content="apache, maven, php, php-maven, maven tutorial, php maven tutorial, maven hudson, maven jenkins, php hudson, php jenkins, php ci, php contiunous integration, php automatic build, php auto build" />		
	</head>
	
	<body>
	
		<p style="text-align:center">[ <a href="tut-xworldsrepos-opensource.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-xworldsrepos-featured.html">Next</a> ]</p>
		
		<section name="Preamble">
		<p><b>NOTE: The official repository is available in a later version. If you want to share your work or get support for your company please <a href="mailto:martin.eisengardt@googlemail.com?subject=Repository access">contact us directly</a>.</b></p>
		
		<p>
		A continuous integration server helps you with the quality control of your project.
		</p>
		
		<!-- <p>TODO Screenshots</p> -->
		</section>
		
		<section name="Continuous integration at xworlds">
		<p>
		The continuous integration server is an additional service within xworlds. It is only allowed for modules that are hosted at xworlds.
		To understand what a CI server does you should read the <a href="http://en.wikipedia.org/wiki/Continuous_integration">wikipedia article</a>.
		</p>
		
		<p>
		To enable continuous integration you need to specify it for either a single module or version. The CI server can either simply build
		the project or even release them on demand. That means: as soon as there is a new version in your version control system the CI server
		is able to deploy both, the modules and the site.
		</p>
		
		<p>After creating a CI server follow the steps to configure the behaviour. You may change the configuration later on as you like.
		What a while and you will see that the CI server starks working and starts scanning and building the versions. The CI links are
		available to public.</p>
		
		<p>To let the CI server work correctly it will scan for the correct values in the pom.xml. That means: The deployment section
		and the url must be valid. If you change anything here the CI server will complain.</p>
		
		<p>Clicking on a module or a single version shows the CI server result as links. You can then navigate through the links
		and see the build results.</p>
		</section>
		
		<p style="text-align:center">[ <a href="tut-xworldsrepos-opensource.html">Previous</a> | <a href="tutorials.html">TOC</a> | <a href="tut-xworldsrepos-featured.html">Next</a> ]</p>
		
</body>
</document>